main {
    width: 100%;
}
/* secciones mobile */
.home .seccion-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #80808040;
    border-radius: 13px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.home .seccion-general .titulo-articulo{
    background-color: #808080;
    padding: 8px;
    border-radius: 0px 15px;
    position: relative;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.home .seccion-general div img{
    width: 300px;
    height: 250px;
}
.home .seccion-general .descripcion-articulo{
    margin-right: 198px;
    margin-bottom: 10px;
}

.home .seccion-general hr {
    background: linear-gradient(90deg, rgb(24,24,24), white);
    height: 2px;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
}

/* secion: articulos que pueden interesarte */
.home .seccion-general article{
    display: flex;
    justify-content: center;
    border-block: 1px solid;
}

.home .seccion-general article div img{
     width: 150px ;
     height: 150px;

}

.home .seccion-general article p {
    margin-bottom: 15px;
}

.home .seccion-general .ver-mas{
    padding: 10px;
    cursor: pointer;
}

/* crear cuenta */
.home .crear-cuenta{
    background-color: #8080805f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 45px;
}

.home .crear-cuenta button{
    margin: 11px;
    width: 200px;
    height: 39px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}
/* cosas desktop */
.home .marcas{
    display: none;
}

.home .seccion-general-desktop{
    display: none;
}
.home .menu-categorias-desktop{
    display: none;
}
.home .titulo-seccion-desktop h3{
    display: none;
}



/* termina secciones mobile*/

/* seccion tablet */
@media (min-width: 768px){
    .home .crear-cuenta{
        background-color: #8080805f;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 45px;
        text-align: center;
    }
    .home .crear-cuenta button{
        margin: 11px;
        width: 200px;
        height: 39px;
        padding: 5px;
        border: none;
        border-radius: 20px;
        outline: none;
        font-size: 16px;
        margin:15px auto;
    }
    .home .seccion-general{
        display: none;
        }
        .home .crear-cuenta{
        display: none;
        }
       .home .marcas{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
       }
       .home .marcas img{
        width: 65px;
        height: 50px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
       }
    
       /* secion general desktop */
       .home .titulo-seccion-desktop h3{
           padding: 10px;
           display: block;
       }
       .home .seccion-general-desktop{
        display: flex;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        
       }
       .home .seccion-general-desktop article{
        background-color: #8888885c;
        margin: 13px;
        padding: 10px;
        width: 300px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
       .home .seccion-general-desktop div img{
        width: 150px;
       }
       .home .seccion-general-desktop .img{
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        width: 80%;
        margin: 18px auto;
        text-align: center;
       }
       .home .seccion-general-desktop p {
        padding-left: 25px;
       }
    
       /* menu de categorias desktop */
       .home .menu-categorias-desktop{
        display: flex;
        justify-content: space-evenly;
       }
       .home .menu-categorias-desktop .seccion{
        text-align: center;
        font-size: 20px;
       }
       .home .menu-categorias-desktop .seccion img{
        width: 150px;
       }
    
}

/* seccion desktop */


@media (min-width: 992px){
    .home .seccion-general{
    display: none;
    }
    .home .crear-cuenta{
    display: none;
    }
   .home .marcas{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
   }
   .home .marcas img{
    width: 65px;
    height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
   }

   /* secion general desktop */
   .home .titulo-seccion-desktop h3{
       padding: 10px;
       display: block;
   }
   .home .seccion-general-desktop{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    
   }
   .home .seccion-general-desktop article{
    background-color: #8888885c;
    margin: 13px;
    padding: 10px;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .home .seccion-general-desktop div img{
    width: 150px;
   }
   .home .seccion-general-desktop .img{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 18px auto;
    text-align: center;
   }
   .home .seccion-general-desktop p {
    padding-left: 25px;
   }

   /* menu de categorias desktop */
   .home .menu-categorias-desktop{
    display: flex;
    justify-content: space-evenly;
   }
   .home .menu-categorias-desktop .seccion{
    text-align: center;
    font-size: 20px;
   }
   .home .menu-categorias-desktop .seccion img{
    width: 150px;
   }

}