<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs' ,{title: '404 Developers - '}) %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main>
      <section class="aboutUs">
        <a href="https://github.com/rodrigo070/Proyecto-Integrador-C8">404 Computers Developers</a>
        <article class="member">
            <img class="memberPic p1" src="/images/logos/panda_logo.png" alt="Profile">
            <div class="infoMember">
                <label>Sol</label>
                <pre>
                     30 años

                     Diletante de la Filosofía, la música y la naturaleza
                    
                     Estudia programación web.
                </pre>
                <a href="https://github.com/Sol-edad"><i class="fa fa-github p1"></i></a>
            </div>
        </article>

        <article class="member">
            <img class="memberPic p2" src="/images/logos/panda_logo.png" alt="Profile">
            <div class="infoMember">
                <label>Rodrigo</label>
                <pre>
                    20 años

                    Aficionado por la tecnología y los juegos de computadora.
                    
                    Estudia programación web.
                </pre>
                <a href="https://github.com/rodrigo070"><i class="fa fa-github p2"></i></a>
            </div>
        </article>

        <article class="member">
            <img class="memberPic p3" src="/images/logos/panda_logo.png" alt="Profile">
            <div class="infoMember">
                <label>Alex</label>
                <pre>
                    25 años

                    Diseñador 3D, Texturas, Aficionado por el automovilismo
                    y idiomas
                    
                    Estudia programación web.
                </pre>
                <a href="https://github.com/AlexQS96"><i class="fa fa-github p3"></i></a>
            </div>
        </article>
      </section>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>