<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs' ,{title: 'ERROR - '}) %>
<body>
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main>
      <section class="productNotFound">
        <p>Oops!</p>
        <p><%= error %></p>
        <img src="/images/logos/panda_error.png" alt="Panda">
        <span></span>
      </section>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>