<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs', {title: 'Preguntas Frecuentes - '}) %>
<head>
    <script src="/javascripts/carousel.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main>
        <div class="textFooterSection">
            <pre class="textFooterPage">
              ¿CÓMO HAGO UN PEDIDO? 
              Para armar un pedido simplemente vas agregando al carrito todos los productos que queres, y al finalizar pones comprar. En el 1er paso te pregunta si necesitas envío, luego la forma de pago, luego accedes como cliente o creas un cliente nuevo según corresponda confirmas el pedido y te asigna un número de pedido y te da los datos de pago según corresponda.

              ¿CÓMO USO EL SERVICIO DE POSVENTA Y GARANTÍAS? 
              Al pie de esta web nos tenes que dejar la consulta con un motivo de los que comiencen con 'PosVenta ...' y el servicio ténico va a estar respondiendo. En caso de preferír venir a la empresa por motivos unicamente de PosVenta, podes hacerlo sacando un turno desde la pagina de Contacto.
              
              ¿SON PRECIOS FINALES O MÁS IVA? 
              Todos los precios son finales IVA incluido.
              
              ¿LOS PRECIOS PUBLICADOS EN LA WEB EN QUE MONEDA ESTÁN?
              Todos los precios de la web están expresados en pesos argentinos.
              
              ¿QUE COSTO TIENE UN ENVÍO? 
              El costo del mismo se abona con el pedido, es decir, el pedido incluye el costo del envío. El valor del envío depende de las dimensiones del paquete y distancia. Podrás saber el costo del envío en tiempo real desde www.404computers.com ingresando tu código postal en el producto a adquirir o a tu pedido. Y según el pedido desde la misma web se le informa si es bonificado el mismo.
              
              ¿HACEN ENVÍOS AL INTERIOR? 
              Hacemos envíos a todo el país mediante OCA, que es un servicio Puerta a Puerta (puede llegar a tu domicilio o a la sucursal de OCA más cercana a tu domicilio).
              
              ¿HACEN FACTURA A? ¿CÓMO LA SOLICITO?
              Efectivamente hacemos factura A, y en el caso de ser un cliente nuevo tiene que ingresar el cliente con número de CUIT y en las observaciones del pedido aclarar que es con factura A.
            </pre>
        </div>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>