<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs', {title: 'Politicas de Privacidad - '}) %>
<head>
    <script src="/javascripts/carousel.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main>
      <div class="textFooterSection">
        <pre class="textFooterPage">
          Estas políticas de privacidad (las "Políticas de Privacidad") se consideran aceptadas por todos los Usuarios del sitio web de 404 Computers y se entienden conocidas por encontrarse publicadas en el mismo.
          Como parte normal de nuestra actividad recogemos y, en algunos casos, revelamos información sobre nuestros usuarios y visitantes de nuestro sitio Web. Estas Políticas de Privacidad describen la información que 404 Computers S.A. (en adelante, indistintamente “404 Computers”) recoge sobre sus usuarios y visitantes y lo que puede hacerse con dicha información. Al registrarse y/o navegar el sitio Web de 404 Computers, el usuario y/o el visitante presta su consentimiento para que se utilice su información personal de acuerdo a las políticas que se describen a continuación.
          Este documento es parte integrante de los Términos y Condiciones de Uso del Sitio. Mediante la aceptación de los Términos y Condiciones de Uso el Usuario acepta las políticas aquí contenidas.
           
          <strong>DERECHOS DE ACCESO, CANCELACIÓN Y RECTIFICACIÓN DE LA INFORMACIÓN PERSONAL</strong>

          Los Usuarios podrán ejercitar los derechos de acceso, cancelación y actualización de su Información Personal, incluyendo su dirección de e-mail, todo ello de conformidad a lo dispuesto en la normativa aplicable. Conforme se establece en el artículo 14, inciso 3 de la Ley Nº 25.326, el titular de los datos personales, previa acreditación de su identidad, tiene la facultad de ejercer el derecho de acceso a los mismos, dentro de los 10 (diez) días corridos desde la acreditación de su identidad, en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto. Para la rectificación y supresión de los datos personales, el titular de los mismo podrá ejercer tales derechos dentro de los 5 (cinco) días hábiles de acreditada su identidad.
          Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se comprometen a mantenerla debidamente actualizada.
          En determinados casos, se podrá mantener en los archivos de 404 Computers Información Personal que el Usuario haya pedido que se retire, y ello con la finalidad de resolver disputas o reclamaciones, detectar problemas o incidencias y solucionarlos, y dar cumplimiento a lo dispuesto en los Términos y Condiciones de Uso por un período de tiempo determinado. En cualquier caso, la Información Personal de un Usuario no será inmediatamente retirada de los archivos de 404 Computers por motivos legales y técnicos, incluyendo sistemas de soportes de seguridad.
          Los Usuarios podrán actualizar su Información Personal periódicamente. Para hacer cualquier modificación en la información que fuera suministrada en el momento de la Registración, se debe ingresar en la sección Acceso a Clientes del Sitio. A los fines de la contratación a través del Sitio, se tomarán como vigentes y válidos los últimos datos registrados por el Usuario. 
          404 Computers podrá modificar unilateralmente en cualquier momento los términos y condiciones de estas Políticas de Privacidad. Tales modificaciones serán notificadas a los Usuarios mediante la publicación de una versión actualizada de las Políticas en esta sección o mediante el envío de un e-mail o informándolo en la página principal u otras secciones del sitio para mantener al Usuario actualizado de los cambios realizados. A partir de la notificación por cualquiera de los medios mencionados, las modificaciones se entenderán aceptadas por los Usuarios,
          Para mayor información sobre la confidencialidad de la Información Personal, el usuario podrá contactarse con 404 Computers por correo electrónico o postal.
          Se informa que la Dirección Nacional de Protección de Datos Personales, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
          
          <strong>LA INFORMACIÓN</strong>
          
          A los efectos de la registración en el Sitio de 404 Computers, el Usuario debe suministrar datos personales ("Información Personal") completos y exactos. Se podrá solicitar, recabar y almacenar la siguiente Información Personal: nombre, número de documento o identificación válida, información de contacto (como número de teléfono, domicilio, dirección de e-mail, etc.). 404 Computers podrá confirmar los datos personales suministrados acudiendo a entidades públicas, compañías especializadas o centrales de riesgo, para lo cual el Usuario la autoriza expresamente. La información que 404 Computers obtenga de estas entidades será tratada en forma confidencial.
           
          <strong>USO DE LA INFORMACIÓN</strong>

          Para suministrar un excelente servicio y para que los Usuarios puedan realizar operaciones en forma ágil y segura, 404 Computers requiere cierta información de carácter personal, incluyendo dirección de e-mail. La recolección de información permite ofrecer a los usuarios servicios y funcionalidades que se adecúen mejor a sus necesidades y personalizar los servicios que brinda 404 Computers. La Información Personal que se recaba persigue las siguientes finalidades:
          
          Desarrollar estudios internos sobre los intereses, comportamientos y demografía de los Usuarios para comprender mejor sus necesidades e intereses y ofrecer mejores servicios o proveerles información relacionada.  
          Mejorar nuestras iniciativas comerciales y promocionales, así como nuestra oferta de contenidos y artículos, personalizar dichos contenidos, su presentación y servicios.  
          Enviar información o mensajes por e-mail sobre nuevos servicios, mostrar publicidad o promociones, banners de interés para nuestros usuarios, noticias sobre 404 Computers.
           
          <strong>CONFIDENCIALIDAD DE LA INFORMACIÓN</strong>

          Una vez registrado en el Sitio, 404 Computers no venderá, alquilará o compartirá la Información Personal. Sin perjuicio de ello, el Usuario consiente en forma expresa que 404 Computers transfiera total o parcialmente la Información Personal a cualquiera de las sociedades controladas, controlantes y/o vinculadas con 404 Computers, a cualquier título y en el momento, forma y condiciones que estime pertinentes. En caso de que, por órdenes judiciales, o por regulaciones legales, 404 Computers sea obligada a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, 404 Computers no responderá por la información que sea revelada.
           
          <strong>CLAVE PERSONAL</strong>
          
          Para acceder a los servicios reservados únicamente para los Usuarios debidamente registrados, los Usuarios dispondrán de una clave personal. Esta clave debe mantenerla bajo absoluta confidencialidad y, en ningún caso, deberá ser revelada o compartida con otras personas por el Usuario.
          El Usuario será responsable de todos los actos que tengan lugar mediante el uso de su Usuario y Clave. Si por cualquier razón un Usuario presumiera que un tercero puede conocer su clave, deberá modificarla ingresando desde el menú de navegación.
           
          <strong>MENORES DE EDAD</strong>
          
          Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de operar en el Sitio y/o suministrar información personal en el mismo.
          
          <strong>ORDEN DE AUTORIDADES COMPETENTES - REQUERIMIENTOS LEGALES</strong>

          404 Computers podrá revelar la Información Personal de sus Usuarios bajo requerimiento de las autoridades judiciales o gubernamentales competentes para efectos de investigaciones conducidas por ellas, por ejemplo (y sin limitación a este supuesto) cuando se trate de investigaciones de carácter penal o de fraude o las relacionadas con piratería informática o la violación de derechos de autor.
          404 Computers puede (y los Usuarios lo autorizan expresamente) comunicar cualquier Información Personal sobre sus Usuarios con la finalidad de cumplir la normativa aplicable y cooperar con las autoridades competentes en la medida en que según su criterio lo entienda necesario y adecuado en relación con cualquier investigación de un ilícito o un fraude, infracción de derechos de propiedad industrial o intelectual, u otra actividad que sea ilegal o que pueda exponer a 404 Computers o a sus Usuarios a cualquier responsabilidad legal.
          Además, 404 Computers se reserva el derecho de comunicar información sobre sus Usuarios a otros Usuarios, entidades o terceros cuando haya motivos suficientes para considerar que la actividad de un Usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar a otras personas. Este derecho será utilizado por 404 Computers a su entera discreción cuando lo considere apropiado o necesario para mantener la integridad y la seguridad del sitio y de sus usuarios, para hacer cumplir los Términos y Condiciones de Uso y demás Políticas del sitio y a efectos de cooperar con la ejecución y cumplimiento de la ley. Este derecho será ejercido por 404 Computers con total independencia de la eventual existencia de una orden judicial o administrativa al efecto.
          
          <strong>SEGURIDAD. ALMACENAMIENTO DE LA INFORMACIÓN</strong> 

          404 Computers está obligada a cumplir con toda la normativa aplicable en materia de medidas de seguridad aplicables a la Información Personal.
          El usuario de 404 Computers conoce y acepta expresamente que 404 Computers, a su exclusivo criterio, recabe, almacene y monitoree la información que circula dentro del sitio de 404 Computers, con el objetivo de contribuir a la seguridad de las relaciones y comunicaciones.
          Por ello, 404 Computers no se hace responsable por interceptaciones ilegales o violación de sus sistemas por parte de personas no autorizadas. 404 Computers tampoco se responsabiliza por la indebida utilización de la información obtenida por esos medios.
        </pre>
      </div>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>