<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs', {title: 'Venta Mayorista - '}) %>
<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("user_csJQ1J53DEYbKoeClzgsS");
    })();
  </script>
  <script type="text/javascript">
    window.onload = function () {
      document.getElementById('contact_form').addEventListener('submit', function (event) {
        event.preventDefault();
        // these IDs from the previous steps
        emailjs.sendForm('service_ycov8es', 'template_mn8vjt3', this)
          .then(function () {
            console.log('Mensaje Enviado!');
          }, function (error) {
            console.log('Error al Enviar...', error);
          });
      });
    }
  </script>
</head>
<body>
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main>
      <section class="contactPage">
        <form id="contact_form" class="contactContent">
            <div class="titles">Solicitá Cotización</div>
            <input type="text" id="nameContact" placeholder="Titular o Empresa" required>
            <input type="email" id="emailContact" name="emailContact" placeholder="Email" required>
            <input type="tel" id="phoneContact" name="phoneContact" placeholder="N° De Telefono">
            <input type="number" id="extraContact" name="cuitContact" placeholder="N° De CUIT">
            <textarea name="messageContact" id="messageContact" cols="40" rows="5" placeholder="Tu Mensaje" style="resize: none;" required></textarea>
            <button type="submit">Enviar Mensaje</button>
        </form>
      </section>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>