<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <form action="" method="">
        <section class="login_Reg_Container">
            <div class="login_Reg_Box">
                <section class="RGB_Title">
                    <h1 for="titleLogin">Bienvenido a 404 Computers!</h1>
                    <div id="rgbar" class=""></div>
                </section>
                <section class="email_Area_Login">
                    <input type="email" name="email" id="emailUser" placeholder="Ingrese su E-mail: ">
                    <span class="error-message">Debe ingresar su email</span>
                </section>
                <section class="password_Area_Login">
                    <input type="password" name="password" id="passUser" placeholder="Ingrese su Contraseña: ">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </section>
                <section class="rememberMe">
                    <input type="checkbox" name="rememberDevice" id="recordar">
                    <label for="recordar">Recordarme en este Dispositivo.</a></label>
                </section>
                <section class="buttonLogin">
                    <button type="submit">Iniciar Sesion</button>
                    <span class="error-message">Credenciales inválidas</span>
                </section>
                <section class="goToForgetPassword">
                    <a href="/restablecer_contrasena">¿Olvidaste tu contraseña?&nbsp;<strong>Hace Click Aqui.</strong></a>
                </section>
                <section class="goToRegister">
                    <a href="/registro">¿Aún no tiene cuenta?&nbsp;<strong>Registrate Aqui.</strong></a>
                </section>
            </div>
            
        </section>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>