<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Banners - '}) %>
<head>
    <script src="/javascripts/previewImage_Admin.js" defer></script>
</head>
<body class="background_Leaves">
  <div class="container_Page"> 
    <main class="admin">
        <div class="nav-admin">
            <nav>
                <a href="/admin/lista-productos">Lista de Productos</a>
                <a href="/admin/lista-productos/stock">Stock</a>
                <a href="/admin/lista-productos/ofertas">Ofertas</a>
                <a href="/admin/banners">Banners</a>
            </nav>
        </div>
        <section class="grid_banners">
            <section class="grid_list_box">
                <section class="grid_item_list grid_titles">
                    <div class="grid_Id_List">ID</div>
                    <div class="grid_Image_List">Banner</div>
                    <div class="grid_Delete_List">Borrar</div>
                </section>
                <% bannersData.forEach(banner => { %>
                    <section class="grid_item_list">
                        <div class="grid_Id_List">#<%= banner.id %> </div>
                        <div class="grid_Image_List"><img src="/images/banners/<%= banner.image_Route %>" alt=""></div>
                        <form class="grid_Delete_List" action="/admin/borrarBanner/<%= banner.id  %>?_method=DELETE" method="POST">
                            <button type="submit" class="grid_Delete_List"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </section>
                <% }) %>
            </section>
            <form action="/admin/banners/" method="POST" enctype="multipart/form-data">
                <section class="boxImageButtonAdd">
                    <label class="buttonToAddImage">
                        <input type="file" id="examinar" name="image_Route" accept=".jpg, .png, .webp, .jpeg, .bmp">
                        <p><i class="fa fa-upload" aria-hidden="true"></i> Agregar Banner</p>
                    </label>
                    <div id="imagePreview">
                    </div>
                    <p id="errorImage"></p>
                    <button type="submit" id="saveButtonIMG" class="grid_submitButton" disabled>Guardar Banner</button>
                </section>
            </form>
        </section>
        
    </main>
  </div>
</body>
</html>