<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body class="adminBG">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>