<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main class="admin">
        <div class="nav-admin">
            <nav>
                <a href="">Editar o Eliminar</a>
                <a href="">Stock</a>
                <a href="">Ofertas</a>
            </nav>
            <div class="titulo_Admin">
                <h2>Carga de Productos</h2>
            </div>
        </div>
        <section class="admin_Grid">
            
            <div class="contenedor">
                <div class="cheked">
                    <label for="sub-category">Agregar subcategoria</label>
                    <input type="checkbox" name="sub-category" id="sub-category">
                </div>
                <div class="seleccionar">
                    <div class="cat1admin">
                        <select name="categoria" class="input-select">
                            <option value="" hidden selected>Categoria</option>
                            <option value="categoria1" class="fondo">categoria1</option>
                            <option value="categoria2" class="fondo">categoria2</option>
                            <option value="categoria3" class="fondo">categoria3</option>
                            <option value="categoria4" class="fondo">categoria4</option>
                            <option value="categoria5" class="fondo">categoria5</option>
                        </select>
                        <select name="subcategoria" class="input-select">
                            <option value="" hidden selected>Sub Categoria</option>
                            <option value="Sub Categoria1" class="fondo">Sub Categoria1</option>
                            <option value="Sub Categoria2" class="fondo">Sub Categoria2</option>
                            <option value="Sub Categoria3" class="fondo">Sub Categoria3</option>
                            <option value="Sub Categoria4" class="fondo">Sub Categoria4</option>
                            <option value="Sub Categoria5" class="fondo">Sub Categoria5</option>
                        </select>
                    </div>
        
                    <div class="cat2admin">
                        <input type="text" placeholder="Nombre del Producto" class="input-select">
                        <input type="text" placeholder="Descuento" class="input-select">
                    </div>
                </div>
            
            </div>

            <section class="infoProductAdmin">
                <div class="descripcion-producto">
                    <h4>Descripcion del Producto</h4>
                    <textarea name="mensaje" placeholder="Escriba  aqui" id="mensaje cols="30" rows="10" ></textarea>
                </div>
                <div class="precio-admin">
                    <label for="precio">Precio $</label>
                    <input type="number" required placeholder="$$$$" name="precio" class="input-select" >
                </div>
            </section>

            <section class="agregar-imagen">
                <label for="archivo">Agregar archivos de Imagen</label>
                <hr>
                <input type="file" class="input-select" id="archivo" accept=".jpg" multiple>
            </section>
        </section>
        
        <button type="submit" class="finalizar">Finalizar</button>
        
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>