.grid_banners{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'imageUpload'
    'list';
    width: 100%;
}

.grid_titles div{
    font-size: 20px !important;
    padding: 10px 0;
}

.grid_item_list{
    display: grid;
    grid-template-areas:
        'idItem imageItem deleteItemList';
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px 0;
    border-radius: 1rem;
}

.grid_item_list:nth-child(1){
    background: white;
    padding: 0 10px;
}

.grid_item_list:nth-child(1):hover{
    background: white;
}

.grid_item_list:hover{
    background: rgb(240, 229, 249);
}

.grid_list_box{
    grid-area: list;
    width: 100%;
    margin: auto;
    padding: 15px 10px;
    border-radius: 1rem;
}

.grid_Id_List{
    margin: auto;
    text-align: center;
    grid-area: idItem;
    width: 100%;
    font-size: 25px;
}

.grid_Image_List{
    text-align: center;
    grid-area: imageItem;
    width: 100%;
}

.grid_Image_List img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.8);
}

.grid_Delete_List{
    border-style: none;
    outline: none;
    background: transparent;
    grid-area: deleteItemList;
    margin: auto !important;
    text-align: center;
    width: 100%;
}

.grid_Delete_List button{
    display: flex;
    justify-content: center;
    margin: auto !important;
    width: 100%;
}

.grid_Delete_List i{
    color: red;
    cursor: pointer;
    font-size: 35px;
}


.grid_submitButton{
    grid-area: submitButton;
    margin: auto !important;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 1rem;
    outline: none;
    border-style: none;
    border: 1px solid black;
    background: white;
}

.cursorOn{
    cursor: pointer;
}

.boxImageButtonAdd{
    text-align: center;
    grid-area: imageUpload;
    background: white;
    padding: 30px 0;
    border-radius: 1rem;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.boxImageButtonAdd input[type="file"]{
    display: none;
}

.buttonToAddImage{
    margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 0.5rem;
    background: white;
}

.buttonToAddImage i{
    margin-right: 5px;
}

.previewImageArea{
    grid-area: imageUpload;
}

.boxImageButtonAdd img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bannerPreview{
    width: 80% !important;
}

/* Tablet */

@media screen and (min-width: 768px){
    .grid_banners{
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        'list imageUpload';
    }

    .grid_item_list{
        grid-template-columns: 15% 70% 15%;
    }

    .grid_list_box{
        padding: 15px 30px;
    }
}

/* Desktop */

@media screen and (min-width: 990px){

}