/* Lista de Productos */

.admin_Nav nav{
    background-color: rgb(240, 229, 249);
    display: flex;
    justify-content: center;
}

.admin_Nav a{
    font-size: 14px;
    text-align: center;
    margin: 15px auto;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgb(44, 0, 204), 0 5px 5px rgba(55, 0, 255, 0.1);
    padding: 7px;
    border-radius: 12px;
    background-color: white;
}

.adminListProducts{
    margin: 0 auto 20px auto;
    border-radius: 1rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.product_Available{
    width: 100%;
    padding: 10px 5px;
    display: grid;
    grid-template-areas:
    'id name goTo delete'
    'id name edit delete';
    grid-template-columns: 20% 30% 25% 25%;
}

.product_Available i{
    font-size: 20px !important;
}

.product_Available:nth-of-type(1){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product_Available:nth-of-type(1):hover{
    background-color: white;
}

.product_Available:hover{
    background-color: whitesmoke;
}

.apHide{
    display: none;
}

.apEditGoto{
    display: block;
    margin: auto;
    grid-area: goTo;
}

/* ap = Available Product */

.apID,
.apName,
.apGoTo,
.apEdit,
.apDelete,
.apDeleteBox{
    margin: 0 auto;
}

.apID{
    margin: auto;
    grid-area: id;
}

/* Despues de grid-area uso 
text overflow para acortar
los nombres de los productos */

.apName{
    margin: auto 0;
    grid-area: name;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.apGoTo{
    grid-area: goTo;
}

.apEdit{
    grid-area: edit;
}

.apDeleteBox{
    display: flex;
    grid-area: delete;
}

.apDelete{
    border-style: none;
    outline: none;
    grid-area: delete;
    background-color: transparent;
}

.apDelete i{
    color: red;
    cursor: pointer;
}

/* Tablet */

@media screen and (min-width: 768px){
    .admin_Nav a {
        font-size: 19px;
        min-width: 155px;
    }

    .product_Available{
        grid-template-areas:
        'id name goTo edit delete';
        grid-template-columns: 10% 40% 20% 20% 10%;
    }

    .apHide{
        display: block;
    }

    .apEditGoto{
        display: none;
    }
}

/* Desktop */

@media screen and (min-width: 990px){


}