/* Vista de Edicion de Producto */

.editProductSection{
    width: 90%;
    margin: 0 auto;
}


.switchButton {
    display: flex;
    overflow: hidden;
    width: -moz-fit-content;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.switchButton input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switchButton label {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    padding: 8px 16px;
    max-width: 41px;
    transition: all 0.1s ease-in-out;
    /* lo de abajo es para evitar que se 
    seleccione el texto dentro del switch */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.switchButton label:hover {
    cursor: pointer;
}

.switchButton input:checked + label {
    background-color: #4935b9;
    box-shadow: none;
    color: white;
}

.dataEditSection input,
.dataEditSection select{
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid black;
    text-indent: 5px;
    width: 90%;
    max-width: 330px;
}

.textAreaEditProduct{
    resize: none;
    outline: none;
    border: 1px solid black;
    border-radius: 0.2rem;
    width: 90%;
    height: 200px;
    padding: 0px 13px 0px 0px;
}


#addProductImages{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
}

#addProductImages input[type="file"] {
    display: none;
}

.addImagesButton{
    margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 210px;
}

.addImagesButton i{
    margin-right: 5px;
}

#addProductImages p,
.addImagesButton p{
    font-size: 19px;
    font-weight: bold;
}

#addProductImages p:nth-child(2){
    padding: 5px 0;
}

.imgBoxEdit{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.productImageEdit{
    width: 25%;
    max-height: 250px;
    margin:5px;
}

.productImageEdit img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.editProductSaveAbort{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.editProductSaveAbort button{
    border-radius: 0.5rem;
    border:1px solid black;
    background-color: white;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 19px;
}

@media screen and (min-width: 768px){
    .dataEditSection{
        display: grid;
        grid-template-areas: 
        'col1 midcol col2';
        grid-template-columns: 40% 20% 40%;
        font-size: 20px;
        width: 100%;
    
    }
    
    .dataEditSection section{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    
    .dataEditSection section:nth-child(1)
    {
        grid-area: col1;
    }
    
    .dataEditSection section:nth-child(2)
    {
        grid-area: col2;
    }
    
    .dataEditSection input,
    .dataEditSection select{
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 0.5rem;
        outline: none;
        border: 1px solid black;
        text-indent: 5px;
        width: 100%;
    }
    
    .textAreaEditProduct{
        resize: none;
        outline: none;
        border-style: none;
        border: 1px solid black;
        border-radius: 0.2rem;
    }
    
    .col2EditProduct{
        display: grid;
        grid-template-columns: 40% 20% 40%;
        width: 100%;
    }
    
    .col2EditProduct article:nth-child(1){
        grid-column: 1;
    }
    
    .col2EditProduct article:nth-child(2){
        grid-column: 3;
    }
    
    /* Switch de Oferta */
    
    .switchButton {
        display: flex;
        overflow: hidden;
        width: -moz-fit-content;
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 10px;
    }
    
    .switchButton input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    
    .switchButton label {
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        padding: 8px 16px;
        max-width: 41px;
        transition: all 0.1s ease-in-out;
        /* lo de abajo es para evitar que se 
        seleccione el texto dentro del switch */
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
    }
    
    .switchButton label:hover {
        cursor: pointer;
    }
    
    .switchButton input:checked + label {
        background-color: #4935b9;
        box-shadow: none;
        color: white;
    }
    
    /* Switch Fin*/
    
    #addProductImages{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 30px 0;
    }
    
    #addProductImages input[type="file"] {
        display: none;
    }
    
    .addImagesButton{
        margin: 0 auto;
        border: 1px solid black;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 0.5rem;
        width: 210px;
    }
    
    .addImagesButton i{
        margin-right: 5px;
    }
    
    #addProductImages p,
    .addImagesButton p{
        font-size: 19px;
        font-weight: bold;
    }
    
    #addProductImages p:nth-child(2){
        padding: 5px 0;
    }
    
    .imgBoxEdit{
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    
    .productImageEdit{
        width: 25%;
        max-height: 250px;
        margin:5px;
    }
    
    .productImageEdit img{
        padding: 30px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
    }
    
    .editProductSaveAbort{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .editProductSaveAbort button{
        border-radius: 0.5rem;
        border:1px solid black;
        background-color: white;
        outline: none;
        cursor: pointer;
        padding: 10px 15px;
        margin: 0 10px;
        font-size: 19px;
    }    
}

@media screen and (min-width: 990px){
    .dataEditSection{
        display: grid;
        grid-template-areas: 
        'col1 midcol col2';
        grid-template-columns: 40% 20% 40%;
        font-size: 20px;
        width: 100%;
    
    }
    
    .dataEditSection section{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    
    .dataEditSection section:nth-child(1)
    {
        grid-area: col1;
    }
    
    .dataEditSection section:nth-child(2)
    {
        grid-area: col2;
    }
    
    .dataEditSection input,
    .dataEditSection select{
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 0.5rem;
        outline: none;
        border: 1px solid black;
        text-indent: 5px;
        width: 100%;
    }
    
    .textAreaEditProduct{
        resize: none;
        outline: none;
        border-style: none;
        border: 1px solid black;
        border-radius: 0.2rem;
    }
    
    .col2EditProduct{
        display: grid;
        grid-template-columns: 40% 20% 40%;
        width: 100%;
    }
    
    .col2EditProduct article:nth-child(1){
        grid-column: 1;
    }
    
    .col2EditProduct article:nth-child(2){
        grid-column: 3;
    }
    
    /* Switch de Oferta */
    
    .switchButton {
        display: flex;
        overflow: hidden;
        width: -moz-fit-content;
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 10px;
    }
    
    .switchButton input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    
    .switchButton label {
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        padding: 8px 16px;
        max-width: 41px;
        transition: all 0.1s ease-in-out;
        /* lo de abajo es para evitar que se 
        seleccione el texto dentro del switch */
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
    }
    
    .switchButton label:hover {
        cursor: pointer;
    }
    
    .switchButton input:checked + label {
        background-color: #4935b9;
        box-shadow: none;
        color: white;
    }
    
    /* Switch Fin*/
    
    #addProductImages{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 30px 0;
    }
    
    #addProductImages input[type="file"] {
        display: none;
    }
    
    .addImagesButton{
        margin: 0 auto;
        border: 1px solid black;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 0.5rem;
        width: 210px;
    }
    
    .addImagesButton i{
        margin-right: 5px;
    }
    
    #addProductImages p,
    .addImagesButton p{
        font-size: 19px;
        font-weight: bold;
    }
    
    #addProductImages p:nth-child(2){
        padding: 5px 0;
    }
    
    .imgBoxEdit{
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    
    .productImageEdit{
        width: 25%;
        max-height: 250px;
        margin:5px;
    }
    
    .productImageEdit img{
        padding: 30px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
    }
    
    .editProductSaveAbort{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .editProductSaveAbort button{
        border-radius: 0.5rem;
        border:1px solid black;
        background-color: white;
        outline: none;
        cursor: pointer;
        padding: 10px 15px;
        margin: 0 10px;
        font-size: 19px;
    }
}

