.user_List_Container{
    margin: 15px auto;
}

.user_List_Container .titles{
    margin-bottom: 10px;
}

.user_List_Box{
    margin: 15px auto;
    border-radius: 1rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow:hidden;
    height: fit-content;
    width: 85%;
}

.adm_Grid_List{
    grid-template-areas: 
    'col1 col2 col5 col6'
    'col1 col3 col5 col6';
    grid-template-columns: repeat(4, 1fr);
}

.admin_List_Titles{
    display: grid;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin_List_Titles p:nth-child(1){
    grid-area: col1;
}

.admin_List_Titles p:nth-child(2){
    grid-area: col2;
}

.admin_List_Titles p:nth-child(3){
    display: none;
    grid-area: col3;
}

.admin_List_Titles p:nth-child(4){
    display: none;
    grid-area: col4;
}

.admin_List_Titles p:nth-child(5){
    grid-area: col5;
}

.admin_List_Titles p:nth-child(6){
    grid-area: col6;
}

/* Grid de Usuarios */

.admin_List_PG{
    display: grid;
    width: 100%;
    text-align: center;
    padding: 5px;
    row-gap: 10px;
    align-items: center;
}

.admin_List_PG a{
    margin: 0 auto;
    width: fit-content;
}

.admin_List_PG button{
    outline: none;
    background: transparent;
    border-style: none;
}

.admin_List_PG i{
    font-size: 18px;
    cursor: pointer;
}

.admin_List_PG:hover{
    background-color: whitesmoke;
}

.admin_List_PG p:nth-child(1){
    grid-area: col1;
}

.admin_List_PG p:nth-child(2){
    grid-area: col2;
}

.admin_List_PG p:nth-child(3){
    grid-area: col3;
}

.admin_List_PG p:nth-child(4){
    display: none;
    grid-area: col4;
}

.admin_List_PG a:nth-child(5){
    grid-area: col5;
}

.admin_List_PG form:nth-child(6){
    grid-area: col6;
}

/* Tablet */

@media screen and (min-width: 768px){
    .adm_Grid_List{
        grid-template-areas: 
        'col1 col2 col3 col4 col5 col6';
        grid-template-columns: repeat(6, 1fr);
    }

    .admin_List_Titles p:nth-child(3){
        display: grid;
    }

    .admin_List_Titles p:nth-child(4){
        display: grid;
    }

    .admin_List_PG p:nth-child(3){
        grid-area: col3;
        grid-row: 1;
    }

    .admin_List_PG p:nth-child(4){
        display: grid;
    }
}

/* Desktop */

@media screen and (min-width: 990px){

}