.navBarAdmin{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: red;
}

.navBarAdmin:nth-of-type(1),
.navBarAdmin:nth-of-type(3){
    text-align: center;
    width: 100%;
}

.adminContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.leftPanelAdmin{
    display: none;
    grid-area: "panel";
    background-color: chocolate;
    width: 25%;
}

.leftPanelActive{
    display: flex;
    flex-direction: column;
}

.AdminContent{
    background-color: crimson;
    width: 100%;
}