/* Carousel container */
.carousel-container {
    position:relative;
    margin: 0px auto 30px auto;
    
    /* display: none; */
}

/* Esconde las imágenes por default */
.slides {
    display: none;
}

.slides img{
    width: 100%;
}
.dots {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


/* Botones de anterior y siguiente */
.carousel-container .prev, .carousel-container .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posición de el boton siguiente a la derecha */
.carousel-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* En hover, agrega un fondo con transparencia */
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Puntos indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
    background-color: rgb(129 67 228);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (min-width: 991px) {
    .carousel-container {
        margin: 0px auto 20px auto;
    }
}

/* Funcion de Modal para los productos */

 /* Style the Image Used to Trigger the Modal */
 .imageModal{
    transition: 0.5s;
    border-radius: 0.5rem;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    height: 70vh;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
  }
  
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 

  /*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*---------------------------- Celular ----------------------------*/
/*-----------------------------------------------------------------*/

/* Celular */

@media screen and (min-width: 300px){
  
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 990px){
  
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
    height: 80vh;
    top: 0;
    bottom: 0;
  }
  
  @keyframes zoom {
    from {height: 50vh}
    to {height: 80vh}
  }

}