/*-----------------------------------------------------------------*/
/*---------------------- Carrito de Compras -----------------------*/
/*-----------------------------------------------------------------*/

.cartBox{
    margin:auto;
    width: 95%;
}

/* Caja de la seccion de lista de productos */
.list_Products_Box{
    background-color: #7c73ff1c;
    background-image: url("/images/backgrounds/leaves_gray.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black;
    height: auto;
    width: 100%;
    align-items: center;
    border-radius: 1rem;
    margin-top: 10px;
}

/* Header de los titulos de producto para celular  */
.titlesGrid{
    display: grid;
    grid-template-columns: 10% 35% 50% 5%;
    text-align: center;
    align-items: center;
    margin:auto;
    height: 40px;
    border-bottom: 1px solid black;
}

/* Oculto los titulos Cantidad - Precio de lista y Descuento
en el celular */
.titlesDesktop {
    display: none;
}

.container_products{
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

/* Producto y Boton de Stocfk*/

.list_Products_Box .product_And_Stock label,
.list_Products_Box .price_Discount_Total label{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.list_Products_Box .minus_plusButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*Fin de la estructura de la lista*/

/* Seccion 3 : Quitar Agregar mas unidades */

.minus_plusButton{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    width: 90px;
    margin-top: 5px;
}

.minus_plusButton button{
    cursor: pointer;
}

.minus_plusButton input{
    width: 40%;
    text-align:center;
    align-items: center;
    font-size: 15px;
    outline: none;
    border-style: none;
}

/* Lo de abajo saca las flechas de incremento y decremento dentro del input de stock */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*************************************************************************/

/*Boton de eliminar - agregar y sacar */

.buttonIcon,
.buttonIconTrash{
    display: inline-flex;
    outline: none;
    border-style: none;
    background:transparent;
    font-size: 25px;
}

/* Fin Seccion 3*/

/* Seccion 5 : caja de Descuento */

.discount_Box{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 50px;
    border-radius: 0.4rem;
    background-color: white;
    margin-bottom: 5px;
    height: 25px;
}

/* Fin Seccion 5*/

/*---------------------------------------------*/

/* Seccion 7 : Borrar Producto de la lista*/

.buttonIconTrash:hover{
    cursor: pointer;
    color: red;
}

/* Fin Seccion 7*/


/*Seccion Precio Final*/

.totalPrice {
    display: flex;
    height: 35px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    border-top: 1px solid black;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* Detalle de Compra */

.payment_Area{
    background-color: #7c73ff1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-radius: 1rem;
    padding:15px;
}

.title_Section2{
    text-align: center;
    width: 100%;
}

.titlePayments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/*arreglar esto*/
.line_Titles{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

/****************************************************************/

.shippingSection{
    width: 90%;
    background-color: #7970ff17;
    padding:10px;
    border-radius: 1rem;
    height: 100%;
}

.shippingSection p{
    font-size: 20px;
    margin-bottom: 5px;
}

.gridShipping{
    display: grid;
    grid-template-columns: 60% 45%;
}

.cp_Input input{
    min-width: 70px;
    height: 40px;
    outline: none;
    border-style: none;
    border-radius: 0.5rem;
    margin-top: 5px;
}

.cost_Area{
    display: flex;
    flex-direction: column;
}

.cost_Area label:nth-child(2){
    margin-top: 10px;
}


.gridShipping input{
    text-align: center;
    align-items: center;
    width: 60%;
    font-size: 16px;
}

/****************************************************************/

.paymentOptions{
    background-color: #7970ff17;
    width: 90%;
    margin-top: 20px;
    border-radius: 1rem;
    padding:15px;
}

.payments_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1000ff17;
    border-radius: 1rem;
    width: 100%;
    padding:10px 10px 5px 10px;
    margin: 20px 0 20px 0;
}

.payments_list label {
    display: flex;
    justify-content: flex-start;
    width:184px;
}

.iconPayment{
    height: 30px;
    width: 30px;
    margin: 4px 3px 0 3px;
}

.payments_list input[type="radio"]{
    margin: 6px 0 0 0;
}

/****************************************************************/

.finalPrices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    padding: 10px;
    background-color:#1000ff17;
}

.finalPrices label{
    display: flex;
    justify-content: flex-start;
    width:184px;
}

.finalPrices input[type="radio"]{
    margin: 6px 5px 0 0;
}

.buyButton {
    background-color: #1000ff17;
    height: 120px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    align-items: center;
}

.buyButton button{
    background-color: #1dff6c;
    display: flex;
    justify-content: center;
    padding: 15px 40px;
    font-size: 25px;
    border-radius: 15px;
    align-items: center;
    height: 60%;
    border-style:hidden;
    cursor: pointer;
}

/*-----------------------------------------------------------------*/
/*-------------------- Fin Carrito de compra ----------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*---------------------------- Celular ----------------------------*/
/*-----------------------------------------------------------------*/

/* Celular */

@media screen and (min-width: 300px){
    /*Uso esta clase para juntar las secciones en 2
    1- Producto y Stock
    2- Descuento y Precio Final y oculto el precio de lista*/
    .product_And_Stock,
    .price_Discount_Total{
        margin-top: 5px;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    /*Oculto el precio de lista y solo muestro
    la etiqueta de descuento con el precio final */
    .price_List{
        display: none;
    }
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .cartBox{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* Caja que contiene la lista entera */
    .list_Products_Box{
        width: 90%;
        padding: 0 15px;
        margin: 20px auto 0 auto;
    }

    .product_Box{
        height: 40px;
        margin: 10px 0;
    }

    /* Le asigno un ancho a cada columna de la lista */
    .list_Products_Box .product_And_Stock label,
    .list_Products_Box .price_Discount_Total label
    {
        margin:auto;
        width: 18%;
    }

    /* Muestro las secciones de la lista del producto separadas */
    .titlesDesktop{
        display: grid;
    }

    .titlesGrid{
        height: 50px;
        grid-template-columns: 4% 20% 16% 20% 15% 20% 5%;
    }

    /* Cambio el tipo de lista de vertical(mobile) a horizontal */
    .product_And_Stock,
    .price_Discount_Total{
        display: contents;
        flex-direction: row;
    }
    /**/

    /* Alineo el boton de stock con la lista (por defecto lo baje
    del mobile para que quede con espacio debajo del titulo del producto)*/
    .minus_plusButton{
        margin-top: 0;
    }

    /* Saco el margen inferior de la etiqueta de descuento */
    .discount_Box{
        margin-bottom: 0;
    }

    /* Remarco el precio de lista y lo muestro en pantalla */
    .price_List{
        text-decoration: line-through;
        display: contents;
    }

    /* Muestro el precio final (no le puse display none pero se ve que 
    se necesita aclarar el display sino no toma
    el ancho que le di anteriormente en los labels */
    .final_Price_List{
        display: contents;
    }

    /*Seccion 2 -> Detalle de su Compra*/
    /* Al aplicar float en la caja anterior esta se mostrara del lado derecho
    de la pantalla */

    /* Caja que contiene los medios de pago, envio y boton de comprar */
    .payment_Area{
        display: grid;
        grid-template-areas:
        'titleSection titleSection'
        'paymentSection paymentSection'
        'shippingSection buyButton';
        width: 90%;
        padding: 5px 20px 20px 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .titlePayments{
        margin-bottom: 0px;
    }

    /* Le asigno al titulo las dos primeras columnas */
    .payment_Area .title_Section2{
        width: 100%;
        grid-area: titleSection;
    }

    .payment_Area .title_Section2 label{
        margin-bottom: 5px;
    }

    /* Lista de medios de pagos le sigue finalprices*/
    .payments_list{
        width: 55%;
        margin: 20px auto 20px auto;
        font-size: 18px;
    }

    .iconPayment{
        margin: 4px 3px 0 3px;
    }

    /* Precios con y sin envio debajo de paymentlist*/
    .finalPrices{
        width: 55%;
        margin: 0 auto 0 auto;
    }

    /* Seccion de envio le asigno esa area y un ancho a ocupar */
    .shippingSection{
        margin-top: 10px;
        width: 90%;
        font-size: 20px;
        grid-area: shippingSection;
    }

    .gridShipping input{
        font-size: 18px;
    }

    /* Seccion de pagos le asigno esa area y el ancho total de la caja */
    .payment_Area .paymentOptions{
        width: 100%;
        padding:5px 10px 10px 10px;
        margin-bottom: 10px;
        grid-area: paymentSection; 
    }

    /* Seccion del boton de compra */

    .buyButton{
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .buyButton button{
        grid-area: buyButton;
        width: 80%;
        height: 60%;
        text-align: center;
        align-items: center;
        margin:auto;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    #rgbar{
        height: 5px;
    }

    /* Caja que contiene la lista entera */
    .list_Products_Box{
        float: left;
        width: 58%;
        padding: 0 20px 0 20px;
        margin-right: 2%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .product_Box{
        height: 40px;
        margin: 10px 0;
    }

    /* Le asigno un ancho a cada columna de la lista */
    .list_Products_Box .product_And_Stock label,
    .list_Products_Box .price_Discount_Total label
    {
        margin:auto;
        width: 18%;
    }

    /* Muestro las secciones de la lista del producto separadas */
    .titlesDesktop{
        display: grid;
    }

    .titlesGrid{
        height: 50px;
        grid-template-columns: 4% 20% 16% 20% 15% 20% 5%;
    }

    /* Cambio el tipo de lista de vertical(mobile) a horizontal */
    .product_And_Stock,
    .price_Discount_Total{
        display: contents;
        flex-direction: row;
    }
    /**/

    /* Alineo el boton de stock con la lista (por defecto lo baje
    del mobile para que quede con espacio debajo del titulo del producto)*/
    .minus_plusButton{
        margin-top: 0;
    }

    /* Saco el margen inferior de la etiqueta de descuento */
    .discount_Box{
        margin-bottom: 0;
    }

    /* Remarco el precio de lista y lo muestro en pantalla */
    .price_List{
        text-decoration: line-through;
        display: contents;
    }

    /* Muestro el precio final (no le puse display none pero se ve que 
    se necesita aclarar el display sino no toma
    el ancho que le di anteriormente en los labels */
    .final_Price_List{
        display: contents;
    }

    /*Seccion 2 -> Detalle de su Compra*/
    /* Al aplicar float en la caja anterior esta se mostrara del lado derecho
    de la pantalla */

    /* Caja que contiene los medios de pago, envio y boton de comprar */
    .payment_Area{
        display: grid;
        grid-template-areas:
        'titleSection titleSection'
        'paymentSection paymentSection'
        'shippingSection buyButton';
        width: 40%;
        padding: 5px 20px 20px 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .titlePayments{
        margin-bottom: 0px;
    }

    /* Le asigno al titulo las dos primeras columnas */
    .payment_Area .title_Section2{
        width: 100%;
        grid-area: titleSection;
    }

    .payment_Area .title_Section2 label{
        margin-bottom: 5px;
    }

    /* Lista de medios de pagos le sigue finalprices*/
    .payments_list{
        width: 65%;
        margin: 20px auto 20px auto;
        font-size: 18px;
    }

    .iconPayment{
        margin: 4px 3px 0 3px;
    }

    /* Precios con y sin envio debajo de paymentlist*/
    .finalPrices{
        width: 65%;
        margin: 0 auto 0 auto;
    }

    /* Seccion de envio le asigno esa area y un ancho a ocupar */
    .shippingSection{
        margin-top: 10px;
        width: 90%;
        font-size: 20px;
        grid-area: shippingSection;
    }

    .gridShipping input{
        font-size: 18px;
    }

    /* Seccion de pagos le asigno esa area y el ancho total de la caja */
    .payment_Area .paymentOptions{
        width: 100%;
        padding:5px 10px 10px 10px;
        margin-bottom: 10px;
        grid-area: paymentSection; 
    }

    /* Seccion del boton de compra */

    .buyButton{
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .buyButton button{
        grid-area: buyButton;
        width: 80%;
        height: 50%;
        text-align: center;
        align-items: center;
        margin:auto;
    }
}