/*-----------------------------------------------------------------*/
/*---------------------- Carrito de Compras -----------------------*/
/*-----------------------------------------------------------------*/

.empty_Cart{
    background-color: #f1f0ff;
    padding: 50px;
    border-radius: 2rem;
    font-size: 29px;
    text-align: center;
    margin: 20px;
}

/* Caja de toda la pagina */

.cart_Page_Box{
    display: grid;
    grid-template-areas: 
    'cartList'
    'cartPayment';
    grid-template-columns: 100%;
    margin:auto;
    width: 95%;
}

/* Caja de la seccion de lista de productos */
.list_Products_Box{
    grid-area: cartList;
    width: 100%;
    height: fit-content;
    margin: 10px auto;
    padding: 15px;
    background-color: #f1f0ff;
    border-radius: 1rem;
}

/* Grid para el nav de la caja y la caja con los items del carrito */

.sec_Grid{
    grid-template-areas:
    'dot1 product discount dot2'
    'dot1 quantity finalprice dot2';
    grid-template-columns: 10% 40% 40% 10%;
}

/* Header con el nombre de las columnas */

.nav_Product_Box{
    display: grid;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.nav_Product_Box div:nth-child(1){
    grid-area: dot1;
    width: 100%;
}

.nav_Product_Box div:nth-child(2){
    grid-area: product;
    width: 100%;
}

.nav_Product_Box div:nth-child(3){
    display: none;
    width: 100%;
}

.nav_Product_Box div:nth-child(4){
    display: none;
    width: 100%;
}

.nav_Product_Box div:nth-child(5){
    display: none;
    width: 100%;
}

.nav_Product_Box div:nth-child(6){
    grid-area: discount;
    width: 100%;
}

.nav_Product_Box div:nth-child(7){
    grid-area: dot2;
    width: 100%;
}

/* Caja del Producto que se agrego al carrito */

.item_Product_Box{
    display: grid;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.item_Product_Box:nth-of-type(even){
    background-color: #e1dff9;
    border-radius: 0.5rem;
}

.item_Product_Box section{
    margin: auto;
}

.item_Product_Box section:nth-child(1){
    grid-area: dot1;
    width: 100%;
}

.item_Product_Box section:nth-child(2){
    grid-area: product;
    width: 100%;
}

.item_Product_Box section:nth-child(3){
    grid-area: quantity;
    width: 100%;
}

.item_Product_Box section:nth-child(4){
    display: none;
    grid-area: price;
    width: 100%;
}

.item_Product_Box section:nth-child(5){
    grid-area: discount;
    width: 100%;
}

.item_Product_Box section:nth-child(6){
    display: flex;
    justify-content: center;
    grid-area: finalprice;
    width: 100%;
}

.item_Product_Box section:nth-child(7){
    grid-area: dot2;
    width: 100%;
}

/* Seccion 1 - Icono de Producto */

.icon_Plist{
    font-size: 20px;
}

/* Seccion 3 - Boton de Cantidad de Stock*/

.minus_plusButton{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    border-radius: 1rem;
    padding: 4px 0;
    overflow: hidden;
    max-width: 85px;
    margin: 0 auto;
}

.minus_plusButton button{
    cursor: pointer;
    outline: none;
    border-style: none;
    background: transparent;
    display: flex;
    justify-content: center;
    margin: auto;
}

.minus_plusButton button:nth-child(1){
    grid-column: 1;
    width: 100%;
}

.minus_plusButton button:nth-child(2){
    grid-column: 3;
    width: 100%;
}

.minus_plusButton input{
    grid-column: 2;
    font-size: 15px;
    text-align: center;
    width: 100%;
    outline: none;
    border-style: none;
    -webkit-appearance: none;
}

.minus_plusButton i{
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Seccion 5 - Tag De Descuento */

.discount_Tag_Plist{
    background-color: red;
    width: fit-content;
    margin: auto;
    padding: 4px 6px;
    border-radius: 0.6rem;
    color: white;
}

/* Seccion 7 - Borrar Producto */

.delete_Plist{
    outline: none;
    border-style: none;
    background: transparent;
    cursor: pointer;
    font-size: 22px;
}

.delete_Plist:hover{
    color: red;
}

/*Seccion Precio Final*/

.totalPrice {
    height: 35px;
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}

.totalPrice p:nth-of-type(1){
    margin-top: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* Detalle de Compra */

.payment_Area{
    background-color: #7c73ff1c;
    display: grid;
    grid-template-areas: 
    'shippingArea'
    'paymentArea'
    'buyArea';
    grid-template-columns: 100%;
    width: 100%;
    margin-top: 10px;
    border-radius: 1rem;
    padding:15px;
    grid-area: cartPayment;
    gap: 10px;
}


.titlePayments{
    grid-area: titleArea;
    width: 100%;
}

/****************************************************************/

.shippingSection{
    grid-area: shippingArea;
    width: 100%;
    background-color: #1000ff17;
    padding:20px;
    border-radius: 1rem;
}

.shippingSection div:nth-child(1){
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.gridShipping{
    display: flex;
    flex-direction: column;
}

.gridShipping label{
    width:95%;
    margin: 0 auto;
}

.cp_Input{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cp_Input input{
    width: 100%;
    text-align: center;
}

.cp_Input button{
    background: royalblue;
    color: white;
    cursor: pointer;
}

.cp_Input button:hover{
    background: rgb(59, 96, 206);
}

.cp_Input input,
.cp_Input button{
    padding: 10px;
    font-size: 17px;
    border-radius: 0.5rem;
    outline: none;
    border-style: none;
    margin: 5px 0;
    width: 45%;
}

.gridShipping div{
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0.5rem;
    margin: 5px 0;
    width: 45%;
}



/****************************************************************/

.paymentSection{
    grid-area: paymentArea;
    background-color: #7970ff17;
    width: 100%;
    border-radius: 1rem;
    padding:15px;
}

.payments_list{
    background-color:#1000ff17;
    border-radius: 1rem;
    width: 100%;
    padding:10px 10px 5px 10px;
    margin: 10px 0;
}

.iconPayment{
    margin: 4px 2px;
    text-align: center;
}

.payments_Options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    gap: 10px;
}

.payments_Options button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border-style: none;
    background-color: #e6e4ff;
    width: 100%;
    height: 60px;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.payments_Options button:hover{
    background-color: #bab6ff;
}   

.payments_Options button.active{
    background-color: #bab6ff;
}

.tabContent{
    height: 350px;
}

/* Tarjeta */

.cardpaySection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.cardpaySection input{
    width: 100%;
    font-size: 17px;
    text-indent: 8px;
    outline: none;
    border-style: none;
    border-radius: 0.5rem;
    padding: 5px;
}

.cardpaySection select{
    border-radius: 0.5rem;
    outline: none;
    border-style: none;
    padding: 5px;
}

.cardpaySection div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.cardpaySection div input{
    width: 33%;
}

/* Efectivo */

.mpSection,
.cashSection{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.mpSection button,
.cashSection button{
    margin: 0 auto;
    padding: 17px;
    min-width: 140px;
    height: fit-content;
    font-size: 17px;
    outline: none;
    border-style: none;
    background-color: royalblue;
    color: white;
    border-radius: 0.7rem;
    cursor: pointer;
}

.mpSection button:hover,
.cashSection button:hover{
    background: rgb(59, 96, 206);
}


#cardTab,
#cashTab,
#mpTab{
    display: none;
}

/****************************************************************/

.buySection {
    grid-area: buyArea;
    background-color: #1000ff17;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
    align-items: center;
}

.buySection button{
    background-color: #63eb93;
    padding: 18px 25px;
    font-size: 25px;
    border-radius: 1rem;
    border-style: none;
    cursor: pointer;
}

.buySection button:hover{
    background-color: #52d881;
}

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .sec_Grid{
        grid-template-areas: 'dot1 product quantity price discount finalprice dot2';
        grid-template-columns: 5% 24% 16% 18% 14% 18% 5%;
    }

    .nav_Product_Box div:nth-child(3){
        display: block;
        grid-area: quantity;
    }

    .nav_Product_Box div:nth-child(4){
        display: block;
        grid-area: price;
    }

    .nav_Product_Box div:nth-child(5){
        display: block;
        grid-area: discount;
    }

    .nav_Product_Box div:nth-child(6){
        grid-area: finalprice;
    }

    .item_Product_Box section:nth-child(4){
        display: flex;
        justify-content: center;
    }

    .payment_Area{
        grid-template-areas: 
        'titleArea titleArea'
        'paymentArea paymentArea'
        'shippingArea buyArea';
        grid-template-columns: 50% 50%;
    }

    .payments_Options{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .payments_Options button{
        width: 30%;
    }

    .cardpaySection div{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .tabContent{
        height: 250px;
    }

    .buySection {
        width: 85%;
        margin-left: auto;
        margin-right: 0;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .cart_Page_Box{
        grid-template-areas: 'cartList cartPayment';
        grid-template-columns: 62% 38%;
    }

    .list_Products_Box{
        width: 95%;
        margin: 10px auto 0 0;
    }

    .payment_Area{
        grid-template-areas: 
        'titleArea'
        'paymentArea'
        'shippingArea'
        'buyArea';
        grid-template-columns: 100%;
    }

    .buySection {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}