
.contactPage{
    transition: all 8s;
    margin: 30px auto;
    width: 100%;
}

.contactContent{
    width: 95%;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    'title title' 
    'top1 top2'
    'middle1 middle2'
    'bottom1 bottom1'
    'sendButton sendButton'
    'captcha captcha';
    grid-template-rows: repeat(5,auto);
    grid-template-columns: 48% 48%;
    gap: 10px;
    background-color: rgba(74,39,155,0.1);
    border-radius: 1rem;
    padding: 20px 10px;
    border: 1px solid #bda9ff81;
}

.contactContent .titles{
    text-align: center;
    grid-area: title;
}

.contactContent button{
    grid-area: sendButton;
    border-radius: 1rem;
    border-style: none;
    background-color: royalblue;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    width: fit-content;
    font-size: 18px;
    padding: 10px 25px;
    margin: 20px auto 0 auto;
    cursor: pointer;
}

.contactContent button:hover{
    background: rgb(59, 96, 206);
}

#nameContact,
#emailContact,
#phoneContact,
#extraContact{
    height: 40px;
    margin: auto 0;
}

#nameContact{
    grid-area: top1;
}

#emailContact{
    grid-area: top2;
}

#phoneContact{
    grid-area: middle1;
}

#extraContact{
    grid-area: middle2;
}

#messageContact{
    padding: 8px;
    grid-area: bottom1;
    min-height: 120px;
    text-indent: 0px !important;
}

#nameContact,
#emailContact,
#phoneContact,
#extraContact,
#messageContact{
    border-radius: 1rem;
    border-style: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    text-indent: 10px;
}

.messageSent{
    display: none;
    background-color: white;
    color: black;
    transition: all 2s;
    font-size: 25px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 225px;
    padding: 40px 0px;
    transform: translate(-50%,-50%) scale(1.2);
    border-radius: 1rem;
    border: 2px solid black;
    animation-name: zoomBox;
    animation-duration: 0.7s;
}

#captchaBox{
    grid-area: captcha;
    margin: 10px auto 0 auto;
}

.g-recaptcha {
    transform: scale(0.93);
    transform-origin: 0 0;
}

@keyframes zoomBox {
    from {
        transform: translate(-50%, -50%) scale(0.5);
    }

    to {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .contactPage{
        margin: 30px auto;
    }

    .contactContent{
        width: 650px;
        padding: 30px;
    }

    .contactContent button{
        font-size: 22px;
    }

    .g-recaptcha {
        transform: scale(0.98);
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .contactContent .titles{
        margin-top: 0 !important;
        font-size: 40px !important;
        margin-bottom: 15px;
    }

    .g-recaptcha {
        transform: scale(1);
    }
}