.profile .form-container h2{
    text-align: center;
}

.profile .form-container {
    width: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-box input[type="file"] {
    display: none;
}

.profile-box h4 {
    margin-bottom: 1rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile .button-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
}

.profile .avatar {
    width: 150px;
    height: 150px;
    background-color: thistle;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
    border: 1px solid #d379dd;
}

.profile .avatar img{
    width: 100%;
    height: 100%;
}

.profile .input-select{
    outline: none;
    border: 2px solid #d379dd;
    box-shadow: 0 2px 2px rgb(44, 0, 204), 0 5px 5px rgba(55, 0, 255, 0.1);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.profile .input-style{
    outline: none;
    border: 2px solid #d379dd;
    box-shadow: 0 2px 2px rgb(44, 0, 204), 0 5px 5px rgba(55, 0, 255, 0.1);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    position: relative;
}
.profile .button-container {
    text-align: center;
    margin: 20px auto;
}

/* .profile .btn-reset {
    background:  linear-gradient(45deg,#d379dd 0%, #a547af 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: all 1s ease;
}

.profile .btn-reset:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%, #892194 50%);
} */

.profile .btn-edit {
    background: linear-gradient(45deg,#d379dd 0%, #f9c4ff 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: all 1s ease;

}

.profile .btn-edit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%, #7356de 50%);
}

.redError{
    bottom: 0;
    left: 0;
    color: red;
    top: 38px;
}

.redErrorSub{
    display: flex;
    margin-bottom: 15px;
    color: red;
}

/* Media queries */
/* Tablet */

@media screen and (min-width: 475px) {
   
    .profile .form-container {
        width: 90%;
    }

}


@media screen and (min-width: 768px) {
  
    .profile .form-container {
        width: 80%;
    }

}


/* Desktop */


@media screen and (min-width: 992px) {

    .profile .input-file-container {
        max-width: 300px;
    }
  
    .profile .form-container {
        width: 100%;
    }

    .profile-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profile .button-container {
        flex-direction: row;
        margin-top: 2rem;
        gap: 20px;
        justify-content: center;
    }

}

