.profileEditContainer{
    background: #f9f9f965;
    width: 95%;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid rgb(211 120 221);
}

.button_container,
.locationSelects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.formEditProfile{
    display: grid;
    grid-template-areas: 
    "title"
    "col1"
    "col2"
    "buttons";
    grid-template-columns: 100%;
    width: 100%;
}

.userPhotoEdit{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profilePicture{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.profilePicture img{
    object-fit: contain;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
    border: 1px solid #d379dd;
}

.profileFormCol{
    width: 100%;
}

.col1edit{
    grid-area: col1;
}

.col2edit{
    grid-area: col2;
}

.button_container{
    grid-area: buttons;
    width: fit-content;
    border: 1px solid #d379dd;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 0 auto;
    gap: 30px;    
}

.button_container button,
.button_container span{
    margin: auto;
    outline: none;
    cursor: pointer;
    border-style: none;
    transition: all .5s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container select,
.input-container input{
    text-indent: 3px;
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 33px;
    border-style: none;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #d379dd;
    box-shadow: 0 2px 2px rgb(44, 0, 204), 0 5px 5px rgba(55, 0, 255, 0.1);
}

.w100i{
    width: 100% !important;
}

.locationSelects{
    gap: 30px;
}

.button_container span{
    background: red;
    color: white;
    padding: 8px;
    border-radius: 1rem;
}

.button_container span:hover{
    background: rgb(192, 16, 16);
}

.btn-edit {
    background: linear-gradient(45deg,#d379dd 0%, #f9c4ff 50%);
    font-weight: bold;
}

.btn-edit:hover {
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%, #7356de 50%);
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){

    .profileEditContainer{
        width: 80%;
        padding: 30px;
    }

    .formEditProfile{
        grid-template-areas: 
        "title title"
        "col1 col2"
        "col1 buttons";
        grid-template-columns: 50% 50%;
    }

    .input-container select,
    .input-container input{
        width: 50%;
    }

    .profilePicture{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 20px 0;
    }

    .profilePicture img{
        margin: 0 !important;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){


}