.titles{
    margin-top: 10px;
    font-size: 1.5rem !important;
}

.favHisSection{
    width: 95%;
    margin: 0 auto;
}

.favHisProduct{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 5px;
    margin: 10px auto;
    display: grid;
    grid-template-areas:
    'select picture name delete' 
    'select picture price delete';
    grid-template-rows: repeat(2,auto);
    grid-template-columns: 10% 25% 55% 10%;
}

#selectFavHis{
    margin: auto;
    transform: scale(1.5);
    grid-area: select;
    padding: 0;
}

.favHisPicture,
.favHisPicture img{
    display: flex;
    grid-area: picture;
    border-radius: 0.5rem;
    margin: auto;
    background-color: white;
    width: 70px;
    height: 70px;
}

.favHisName{
    margin: auto 0;
    padding-left: 10px;
    font-size: 16px;
    grid-area: name;
}

.favHisPrice{
    margin: auto 0;
    padding-left: 10px;
    font-size: 16px;
    grid-area: price;
}

.favHisDeleteForm{
    display: flex;
    grid-area: delete;
}

.favHisDelete{
    border-style: none;
    outline: none;
    grid-area: delete;
    background-color: transparent;
}

.favHisDelete i{
    color: red;
    cursor: pointer;
    font-size: 25px;
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .favHisSection{
        width: 80%;
    }

    .favHisProduct{
        height: 150px;
    }

    #selectFavHis{
        transform: scale(2);
    }

    .favHisPicture,
    .favHisPicture img{
        width: 135px;
        height: 130px;
        object-fit: contain;
    }

    .favHisName,
    .favHisPrice{
        font-size: 20px;
    }
    .favHisDelete i{
        font-size: 30px;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    
}