/*Footer*/

.main-footer {
    padding: 10px 15px 10px 15px;
    background: linear-gradient(#343434,#000);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
}

.footer-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    bottom: 0;
    text-decoration: none;
}

/*Content Text - Icons*/

footer{
    position: relative;
}

footer p{
    color: white;
}

#socialIcons {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    row-gap: 2px;
    column-gap: 7px;
    text-align: center;
}

#socialIcons a{
    color: white;
    width: 23px;
    -webkit-tap-highlight-color: transparent;
}

#socialIcons img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#socialIcons img path{
    fill: white;
}

.footer_Logo{
    height: 4rem;
    display: block;
    /* width: 110px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.afip_Logo{
    height: 4rem;
}

.contactAndMore{
    display: none;
}

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 990px){
    .main-footer{
        height: 7rem;
    }

    .contactAndMore{
        width: 50%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(#242424,#050505);
        border-radius: 1rem;
    }
    
    .contactAndMore a{
        font-size: 14px;
        color:white;
    }

    .contactAndMore article{
        float: left;
        display: grid;
        margin: auto;
    }
    .contactAndMore article:nth-child(1)
    {
        display: none;
    }   
    
    .afip_Logo{
        height: 5rem;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .main-footer{
        height: 7rem;
    }

    .contactAndMore{
        width: 60%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(#242424,#050505);
        border-radius: 1rem;
    }
    
    .contactAndMore a{
        font-size: 14px;
        color:white;
    }

    .contactAndMore article{
        float: left;
        display: grid;
        margin: auto;
    }   
    
    .afip_Logo{
        height: 5rem;
    }
}

