/*Footer*/

.main-footer {
    margin-top: 1.2rem;
    padding: 10px 15px 10px 15px;
    background: linear-gradient(#343434,#000);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
}

.footer-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    bottom: 0;
    text-decoration: none;
}

/*Content Text - Icons*/

footer{
    margin-top: 15px;
    position: relative;
}

footer p{
    color: white;
}

#socialIcons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

#socialIcons a{
    font-size: 1.5rem;
    color: white;
    margin: 0 15px;
    -webkit-tap-highlight-color: transparent;
}

.fb_ico:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inst_ico:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mail_ico:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whats_ico:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer_Logo{
    height: 4rem;
    /* width: 110px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.afip_Logo{
    height: 4rem;
}

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*---------------------------- Celular ----------------------------*/
/*-----------------------------------------------------------------*/

/* Celular */

@media screen and (min-width: 300px){
    .contactAndMore{
        display: none;
    }
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 990px){
    .main-footer{
        height: 7rem;
    }

    .contactAndMore{
        width: 50%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(#242424,#050505);
        border-radius: 1rem;
    }
    
    .contactAndMore a{
        font-size: 14px;
        color:white;
    }

    .contactAndMore article{
        float: left;
        display: grid;
        margin: auto;
    }
    .contactAndMore article:nth-child(1)
    {
        display: none;
    }   
    
    .afip_Logo{
        height: 5rem;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .main-footer{
        height: 7rem;
    }

    .contactAndMore{
        width: 60%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(#242424,#050505);
        border-radius: 1rem;
    }
    
    .contactAndMore a{
        font-size: 14px;
        color:white;
    }

    .contactAndMore article{
        float: left;
        display: grid;
        margin: auto;
    }   
    
    .afip_Logo{
        height: 5rem;
    }
}

