.location_Box{
    margin: 35px auto 0 auto;
}

.locationPage{
    background-image: url(/images/backgrounds/background_v_ver.png);
}

.locationDetail{
    margin: 10px auto;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'text1 text1'
    'map1 map1';
    grid-template-columns: 100%;
}

#locationInfo{
    margin: 10px auto;
    grid-area: text1;
    padding: 16px;
    border-radius: 1rem;
    background-color: #5600ffcf;
    width: 95%;
    color: white;
}

#locationInfo pre{
    font-size: 25px;
    font-family: 'Atari';
}

#locationInfo div{
    font-family: 'Atari';
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

.iconsContact{
    height: 18px;
    width: 18px;
    margin: 4px 3px 0 3px;
}

#map{
    height: 400px;
    grid-area: map1;
    border-radius: 0.5rem;
    width: 95%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .location_Box{
        margin: 25px auto;
        transform: translateY(10%);
    }

    .locationDetail{
        grid-template-areas: 
        'text1 map1';
        grid-template-columns: 40% 60%;
    }

    #map{
        width: 95%;
        margin: auto;
    }

}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    #locationInfo {
        padding: 35px 60px;
    }
}