/*-----------------------------------------------------------------*/
/*------------------------ Pagina de Login ------------------------*/
/*-----------------------------------------------------------------*/

.titleLogin p{
    font-size: 28px;
    text-align: left;
    grid-area: contentLogin;
    width: 100%;
    margin-bottom: 15px;
}

.background_Leaves{
    background-image: url(/images/backgrounds/background_Leaves_t.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_Reg_Container{
    display: grid;
    grid-template-areas: 'space0 contentLogin space1';
    grid-template-columns: 10% 80% 10%;
    background-image: url("/images/backgrounds/background_v_ver.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    margin: 30px auto;
    border-radius: 1rem;
    padding: 25px 0;
}

.login_Reg_Box{
    width: 100%;
    position: relative;
    grid-area: contentLogin;
}

.login_Reg_Box label{
    padding: 20px 10px;
    display:flex;
    align-items: flex-start;
    color: black;
}

.login_Reg_Box input{
    width: 100%;
    font-size: 18px;
    text-indent: 8px;
    outline: none;
    border-style: none;
    border-radius: 1rem;
    padding: 5px;
}

.email_Area_Login,
.password_Area_Login,
.rememberMe,
.name_Area_Register,
.email_Area_Register,
.password_Area_Register,
.termsAndConditions
{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

.termsAndConditions a{
    text-decoration: underline;
}

.termsAndConditions,
.rememberMe{
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

.goToRegister pre,
.goToForgetPassword pre,
.rememberMe pre,
.goToLogin pre,
.termsAndConditions pre{
    white-space: pre-line;
    color: #3d3d3d;
    line-height: 20px;
    font-size: 15px;
    user-select: none;
}


.termsAndConditions label a,
.rememberMe label a{
    color: black;
    cursor: pointer;
}

.termsAndConditions input,
.rememberMe input{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.buttonLogin,
.buttonRegister{
    margin-bottom: 30px;
}

.buttonRegister button,
.buttonLogin button {
    width: 80%;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #a05df8 0%, #7739c9  51%, #9900ff  100%);
    transition: 0.5s;
    background-size: 200% auto;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    -webkit-tap-highlight-color: transparent;
}
  
.error-message{
    color: red;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    position: absolute;
}

.buttonRegister .error-message,
.buttonLogin .error-message{
    margin-top: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.buttonRegister button:hover,
.buttonLogin button:hover {
    background-position: right center;
}


.goToForgetPassword strong,
.goToRegister strong,
.goToLogin strong{
    text-decoration: underline;
}

.goToLogin,
.goToForgetPassword{
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
}

.goToLogin,
.goToForgetPassword a{
    color: black;
    text-decoration: none;
}

.goToRegister{
    margin: 10px 0 20px 0;
    font-size: 13px;
}

.goToRegister a{
    color: black;
    text-decoration: none;
}

/*-----------------------------------------------------------------*/
/*--------------------- Fin Pagina de Login--- --------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .login_Reg_Container{
        width: 55%;
    }

    .termsAndConditions label,
    .rememberMe label{
        font-size: 16px;
        padding: 20px 10px;
    }

    .termsAndConditions label a,
    .rememberMe label a{
        cursor: pointer;
    }

    .buttonRegister button,
    .buttonLogin button {
        width: 60%;
    }

    .buttonRegister .error-message,
    .buttonLogin .error-message{
        margin-top: 20px;
    }

    .goToLogin,
    .goToForgetPassword,
    .goToRegister{
        font-size: 16px;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .login_Reg_Container{
        width: 35%;
    }

    .buttonRegister button,
    .buttonLogin button {
        width: 55%;
    }
    
}