/*-----------------------------------------------------------------*/
/*------------------------ Pagina de Login ------------------------*/
/*-----------------------------------------------------------------*/

.background_Leaves{
    background-image: url(/images/backgrounds/background_Leaves_t.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_Reg_Container{
    width: 100%;
    text-align: center;
    padding: 30px 20px 20px 20px;
}
.login_Reg_Box{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    /* background-color: rgb(74, 39, 155); */
    background-image: url("/images/backgrounds/background_v_ver.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}

.login_Reg_Box label{
    padding: 0 10px;
    display:flex;
    align-items: flex-start;
    color: black;
}

.login_Reg_Box input{
    width: 100%;
    font-size: 18px;
    text-indent: 8px;
    outline: none;
    border-style: none;
    border-radius: 1rem;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.login_Reg_Box h1{
    margin-top: 5px;
    font-size: 20px;
}

.email_Area_Login,
.password_Area_Login,
.rememberMe,
.name_Area_Register,
.email_Area_Register,
.password_Area_Register,
.termsAndConditions
{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
}

.termsAndConditions a{
    text-decoration: underline;
}

.termsAndConditions,
.rememberMe{
    display: flex;
    align-items: center;
    text-align: left;
    overflow:hidden;
}

.termsAndConditions label,
.rememberMe label{
    font-size: 14px;
    user-select: none;
}

.termsAndConditions label a,
.rememberMe label a{
    color: black;
    cursor: pointer;
}

.termsAndConditions input,
.rememberMe input{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.buttonRegister button,
.buttonLogin button {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #a05df8 0%, #7739c9  51%, #9900ff  100%);
    transition: 0.5s;
    background-size: 200% auto;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    -webkit-tap-highlight-color: transparent;
}
  
.error-message{
    color: red;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    position: absolute;
}

.buttonRegister .error-message,
.buttonLogin .error-message{
    margin-top: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.buttonRegister button:hover,
.buttonLogin button:hover {
    background-position: right center;
}


.goToForgetPassword strong,
.goToRegister strong,
.goToLogin strong{
    text-decoration: underline;
}

.goToLogin,
.goToForgetPassword{
    margin: 35px 0 0 0;
    font-size: 13px;
}

.goToLogin,
.goToForgetPassword a{
    color: black;
    text-decoration: none;
}

.goToRegister{
    margin: 10px 0 20px 0;
    font-size: 13px;
}

.goToRegister a{
    color: black;
    text-decoration: none;
}

.RGB_Title label{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.RGB_Title #rgbar{
    margin: 15px auto 20px auto;
    height: 2px;
}

/*-----------------------------------------------------------------*/
/*--------------------- Fin Pagina de Login--- --------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .login_Reg_Container{
        width: 55%;
        margin: auto;
    }

    .termsAndConditions label,
    .rememberMe label{
        font-size: 16px;
        padding: 20px 10px;
    }

    .termsAndConditions label a,
    .rememberMe label a{
        cursor: pointer;
    }

    .buttonRegister button,
    .buttonLogin button{
        transform: scale(1.4);
    }

    .buttonRegister .error-message,
    .buttonLogin .error-message{
        margin-top: 20px;
    }

    .goToLogin,
    .goToForgetPassword{
        margin-top: 50px;
        font-size: 16px;
    }

    .goToRegister{
        font-size: 16px;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .login_Reg_Container{
        width: 35%;
    }

    .buttonLogin button{
        transform: scale(1.4);
    }
    
}