/*-----------------------------------------------------------------*/
/*------------------------ Pagina de Login ------------------------*/
/*-----------------------------------------------------------------*/

.titleLogin p{
    font-size: 30px;
    text-align: left;
    grid-area: contentLogin;
    width: 100%;
    margin-bottom: 18px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.background_Leaves{
    background-image: url(/images/backgrounds/background_Leaves_t.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_Reg_Container{
    display: grid;
    grid-template-areas: 'space0 contentLogin space1';
    grid-template-columns: 10% 80% 10%;
    background-color: #9161ffd4;
    background-image: url("/images/backgrounds/background_v_ver.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 95%;
    text-align: center;
    margin: 30px auto;
    border-radius: 1rem;
    padding: 25px 0;
    mix-blend-mode: multiply;
}

.login_Reg_Box{
    width: 100%;
    position: relative;
    grid-area: contentLogin;
}

.login_Reg_Box label{
    padding: 20px 10px;
    display:flex;
    align-items: flex-start;
    color: black;
}

.login_Reg_Box input{
    width: 100%;
    font-size: 18px;
    text-indent: 8px;
    outline: none;
    border-style: none;
    border-radius: 1rem;
    padding: 5px;
}

.email_Area_Login,
.password_Area_Login,
.rememberMe,
.name_Area_Register,
.email_Area_Register,
.password_Area_Register,
.termsAndConditions
{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.password_Area_Register i{
    position: absolute;
    right: 20px;
    top: 10px;
}

.termsAndConditions a{
    text-decoration: underline;
}

.termsAndConditions,
.rememberMe{
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

.goToForgetPassword pre,
.rememberMe pre,
.termsAndConditions pre{
    white-space: pre-line;
    color: white;
    line-height: 20px;
    font-size: 15px;
    user-select: none;
}


.termsAndConditions a,
.rememberMe a{
    color: white;
    cursor: pointer;
}

.termsAndConditions input,
.rememberMe input{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.buttonsLoginRegister button {
    padding: 10px 10px;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 150px;
    font-size: 16px;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #9c4eff 0%, #685fff  51%, #9650ff  100%);
    transition: 0.5s;
    background-size: 200% auto;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    -webkit-tap-highlight-color: transparent;
    border: 2px solid transparent;
}

.buttonsLoginRegister button:nth-child(1){
    margin-left: 0;
    margin-right: auto;
}

.buttonsLoginRegister button:nth-child(2){
    margin-right: 0;
    margin-left: auto;
    background-image: linear-gradient(to right, #9c4eff 0%, #685fff  51%, #9650ff  100%);
}

.buttonsLoginRegister button:hover{
    border: 2px solid rgba(255,255,255, 0.3);
}

.buttonsLoginRegister{
    display: flex;
}
  
.error-message{
    color: white;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    position: absolute;
}

.buttonsLoginRegister .error-message{
    margin-top: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.buttonsLoginRegister button:hover {
    background-position: right center;
}

.goToForgetPassword strong{
    text-decoration: underline;
}

.goToForgetPassword{
    font-size: 14px;
    margin: 0 auto;
}

.goToForgetPassword a{
    color: black;
    text-decoration: none;
}

/*-----------------------------------------------------------------*/
/*--------------------- Fin Pagina de Login--- --------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){

    .login_Reg_Container{
        width: 100%;
    }

    .termsAndConditions label,
    .rememberMe label{
        font-size: 16px;
        padding: 20px 10px;
    }

    .termsAndConditions label a,
    .rememberMe label a{
        cursor: pointer;
    }

    .buttonsLoginRegister button {
        padding: 10px 15px;
        font-size: 20px;
    }

}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){

}