@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Poppins&display=swap");
@import url(slider.css);
@import url(carousel.css);
@import url(header.css);
@import url(footer.css);
@import url(home_page.css);
@import url(product_page.css);
@import url(cart_page.css);
@import url(login_register_page.css);
@import url(payments_Banner.css);
@import url(termscond.css);
@import url(favorites.css);
@import url(location.css);
@import url(contact.css);
@import url(404.css);
@import url(perfil.css);
@import url(editProfile.css);
@import url(product_List_Page.css);
@import url(admin.css);
@import url(admin_list.css);
@import url(admin_add_product.css);
@import url(admin_edit_product.css);
@import url(admin_banners.css);
@import url(admin_user_list.css);
@import url(admin_list.css);
@import url(admin_edit_user.css);

@font-face {
  font-family: 'Karmatic';
  src: url('/fonts/KarmaticArcade.woff2') format('woff2'),
      url('/fonts/KarmaticArcade.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Atari";
  src: url("/fonts/Pixellari.woff2") format("woff2"),
    url("/fonts/Pixellari.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --letra: "Titillium Web", sans-serif;
  --colorNegro: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--letra);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
  /* para ocultar el highlight al presionar un boton o opcion*/
  -webkit-tap-highlight-color: transparent;
  /*Fin highlight*/
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
  scroll-behavior: smooth;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

/* Animacion para el inicio de cada pagina */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fin Animacion para el inicio de cada pagina */

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.596); 
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(100, 33, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4510a7;
}

header {
  z-index: 999;
}

main {
  flex-grow: 1;
}

a {
  color: var(--colorNegro);
}

/* Funciones Generales */

.titles {
  font-size: 2.5rem;
}

.container_Page {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px 20px;
  color: white;
  font-family: var(--font_baloo);
  font-weight: bold;
  border-radius: 1rem;
}

.btn-primary {
  width: fit-content;
  width: -moz-fit-content;
  background: var(--primary);
  transition: all 1s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, white, var(--primary));
  color: var(--primary);
}

/*-----------------------------------------------------------------*/
/*----------------- Mensaje de ERROR ERRORPAGE --------------------*/
/*-----------------------------------------------------------------*/


.productNotFound{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  width: 100%;
}

.productNotFound p:nth-child(1){
  font-size: 80px;
}

.productNotFound p:nth-child(2){
  font-size: 26px;
}

.productNotFound img{
  margin-top: 15px;
  width: 250px;
  height: 300px;
  z-index: 112;
}

.productNotFound span{
  width: 250px;
  border:none;
  box-shadow: 0 3px 25px 3px rgb(0 0 0);
}

/*-----------------------------------------------------------------*/
/*-------------------- Fin Mensaje de ERROR -----------------------*/
/*-----------------------------------------------------------------*/

