/*-----------------------------------------------------------------*/
/*--------------------- Detalle del Producto ----------------------*/
/*-----------------------------------------------------------------*/

.iconDetailProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1000ff17;
    border-radius: 1rem;
    width: 80%;
    padding:10px 10px 5px 10px;
    margin: 20px 0 20px 0;
}

.iconDetailProduct label{
    display: flex;
    align-self: flex-start;
}

.iconDetailProduct i{
    height: 30px;
    width: 30px;
    margin: 4px 3px 0 3px;
    text-align: center;
}

/*Section 1 - > Fotos del producto */

.titulo h1{
    text-align: center;
}

/* Seccion de Foto del Producto */
/* le agrego un ancho a la caja de fotos de producto y detalle de medios de pago */

.productPhotoContainer {
    width: 100%;
}

.productPhoto{
    width: 100%;
}

/* Seccion 1 Fotos del Producto */

.photosGalleryBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*esto representa cada cuadro de las fotos le puse un padding para 
separarlas de arriba y abajo*/

.miniPhoto {
    width: 25%;
    opacity: 0.8;
    height: 150px;
    object-fit: contain;
}

.miniPhoto:hover{
    cursor: pointer;
    opacity: 1;
}


.miniPhoto:nth-child(1),
.miniPhoto:nth-child(2),
.miniPhoto:nth-child(3){
    padding-right: 10px;
};

/* solo un puntero para cuando se apunta a las imagenes del producto
y activo la opacidad para resaltar la imagen elegida */



/* Fin Seccion de Foto del Producto*/

.encabezado {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.encabezado h1.titulo {
   font-weight:bold;
    text-align: justify;
    text-transform: uppercase;
    
    padding: 20px;
   font-size: 20px;
}

.imagenCentral {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    box-shadow: 0 0 5px 0 rgba 0, 0, 0, 1;
    transition: all 300ms;
     
}

.imagenes2{
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
}

.item2{
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin-bottom: 20px;
    /* width: 45px;
    height: 50px;
    margin: 5px; */
}

/* Section 2 -> detalle de precio , medios de pago etc*/

.subtitulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulosBG{
    width: 85%;
    margin: 25px auto 0 auto;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfb5ff57;
    border-radius: 1rem;
}

.precio{
    font-size: 45px;
    font-weight:bold;
}

.precioEspecial{
    font-size:20px ;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    margin:10px;
}
.precioLista{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    

}

.descuento{
    margin:10px;
    padding: 10px;
    font-size: 18px;
    background-color: #1000ff17;
    border-radius: 30px;
    width: 102px;
    margin: 10px auto;
    text-align: center;
}

.buy_Section{
    text-align: center;
    width: 100%;
}

.buy_Section input{
    width: 50%;
    height: 60px;
    font-size: 20px;
    border-radius: 1rem;
}

.redes{
    display: flex;
    justify-content: center;
    margin: 15px auto 15px auto;
}
.redes i {
    font-size: 23px;
    padding: 5px;
}

.favorite_Section{
    text-align: center;
    width: 100%;
}

.favorite_Section button{
    width: 50%;
    height: 40px;
    border-radius: 1rem;
}

/* Especificaciones del Producto */

.especificaciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    align-content: center;
}
.especificaciones .h3{
    padding-bottom: 10px;
      
}

hr {
    background: linear-gradient(90deg, rgb(219, 5, 69), rgb(199, 180, 9));
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
    border: none;
}

.negrita{
    width: 70%;
    font-weight: bold;
    padding: 5px;
    white-space: pre-line;
}
.respuesta{
    width: 70%;
    font-size: 15px;
    padding: 5px;
}

/*-----------------------------------------------------------------*/
/*------------------- Fin Detalle de Producto ---------------------*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*----------------- Mensaje de ERROR ERRORPAGE --------------------*/
/*-----------------------------------------------------------------*/

.productNotFound{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    width: 100%;
}

.productNotFound p:nth-child(1){
    font-size: 80px;
}

.productNotFound p:nth-child(2){
    font-size: 26px;
}

.productNotFound img{
    margin-top: 15px;
    width: 250px;
    height: 300px;
    z-index: 112;
}

.productNotFound span{
    width: 250px;
    border:none;
    box-shadow: 0 3px 25px 3px rgb(0 0 0);
}

/*-----------------------------------------------------------------*/
/*-------------------- Fin Mensaje de ERROR -----------------------*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*------------------------- Media Queries -------------------------*/
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*---------------------------- Tablet -----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .subtitulos{
        font-size: 20px;
        width: 50%;
    }
    .especificaciones{
        align-content: center;
    }

    .iconDetailProduct{
        width: 80%;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------------ PC -------------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (min-width: 990px){
    .productPhoto{
        width: 50%;
        float:left;
    }

    .subtitulos{
        font-size: 20px;
        width: 50%;
    }

    .iconDetailProduct{
        width: 70%;
    }
}