.product_Page_Grid{
    display: grid;
    grid-template-areas: 
    'opciones'
    'vista';
    grid-template-columns: 100%;
    width: 100%;
}

.modalSidePanel{
    display: none;
    position: fixed;
    z-index: 16;
    padding-top: 110px;
    padding-left: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: mobileFadeBar 0.5s;
}

.closeFilterOptions{
    position: fixed;
    right: 25px;
    margin-top: -20px;
}

.closeFilterOptions i{
    font-size: 25px;
}

.categories_SidePanel{
    display: none;
}

.categoriesSubSection{
    display: flex;
    font-size: 19px;
    flex-direction: column;
}

.categoriesSubSection p{
    margin-bottom: 5px;
}

.categories_SidePanel a{
    transition: .2s ease;
}

.categories_SidePanel a:hover{
    background-color: black;
    color: white;
    margin-left: 20px;
}
.categories_SidePanel a:hover:nth-child(1){
    margin: 0;
}

.optionsSidePanel{
    text-align: left;
    margin: 0 auto;
}

.options_productsPage{
    width: 100%;
    grid-area: opciones;
    background-color: white;
}

.buttonFilterProducts button{
    outline: none;
    border-style: none;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 5px 15px;
    background: white;
}

.sortProducts{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.sortProducts form{
    margin: auto 0;
}

.productListView{
    width: 100%;
    grid-area: vista;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    background: -webkit-linear-gradient(top,rgba(235,235,235,0) 0%,rgba(235,235,235,1) 100%);
}

.products_Page_Article{
    margin: 20px auto;
    width: 85%;
    transition: .5s ease;
}


.products_Page_Article img:hover{
    padding: 15px !important;
}

.products_Page_Article:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.img_Product_Page{
    position: relative;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0px 4px 4px -6px black;
}

/* etiqueta de descuento*/

.img_Product_Page label{
    position: absolute;
    padding: 10px 10px;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 0 0 0 1rem;
    top: 0;
    right: 0;
    cursor: pointer;
}

.img_Product_Page img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 25px;
    transition: all .5s ease;
    cursor: pointer;
}

.description_Article_Page{
    display: grid;
    grid-template-rows: 32% 23% 45%;
    text-align: left;
    background-image: linear-gradient(180deg, #f0f5fde0 0%, #c2b8f98c 100%);
    height: 190px;
    width: 100%;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 0 0 0.5rem 0.5rem;
}

.prices_Product_Page{
    padding-top: 5px;
    font-size: x-large;
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
    color: gray;
}

.prices_Product_Page p:nth-child(1){
    float: left;
    margin-right: 10px;
    -webkit-text-decoration-line: none; /* Safari */
    text-decoration-line: none; 
    color: black;
}

.goTo_Add_Item{
    width: 100%;
    text-align: center;
}

.goTo_Add_Item button{
    color: rgb(87, 30, 245);
    width: 100%;
    font-size: 18px;
    border-radius: 0.5rem;
    background-color: white;
    outline: none;
    border-style: none;
    padding: 3px;
    cursor: pointer;
    transition: .3s ease;
}

.goTo_Add_Item button:nth-child(1){
    background-color: #3bff80;
    color: white;
    margin-bottom: 7px;
}

.goTo_Add_Item button:hover{
    background-color: #735bff;
    color: white;
}

/* Tablet */

@media screen and (min-width: 768px){
    .product_Page_Grid{
        grid-template-areas: 
        'categorias opciones'
        'categorias vista';
        grid-template-columns: 25% 75%;
    }

    .categories_SidePanel{
        display: block;
        grid-area: categorias;
        width: 100%;
        padding: 25px 25px;
        background-color: rgba(255, 255, 255,0.7);
    }

    .buttonFilterProducts{
        display: none !important;
    }

    .sortProducts{
        justify-content: flex-end;
    }

}

/* Desktop */

@media screen and (min-width: 990px){
    .product_Page_Grid{
        grid-template-columns: 18% 82%;
    }
}