.purchaseDetailContainer,
.purchasesContainer{
    margin: 20px auto;
    width: 90%;
}

.purchasesBox{
    border-radius: 1rem;
    border: 1px solid #9073e269;
    margin: 10px auto;
    background: #f4f1ff;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    transition: all .5s;
}

.purchasesBox a:last-of-type{
    text-align: center;
    border: 1px solid #9073e269;
    background: #b297ff7a;
    padding: 15px;
    width: fit-content;
    margin: 0 auto;
    transition: all .5s;
    border-radius: 1rem;
    color: white;
}

.purchasesBox a:last-of-type:hover{
    border: 1px solid #7648f669;
    background: #8358fa7a;
}

.purchaseDetailBox:hover,
.purchaseDetailFormBox:hover,
.purchasesBox:hover{
    border: 1px solid #4911e469;
}

.purchaseDetailContainer{
    display: grid;
    grid-template-areas: 
    "title title"
    "pay pay"
    "list formDetail";
    grid-template-columns: 68% 28%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 1rem;
    gap: 4%;
    margin-bottom: 60px;
}

.purchaseDetailBox{
    grid-area: list;
    background: #f3f0ffba;
    padding: 20px;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 20px;
}

.purchaseDetailItem{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 5px auto;
    text-align: center;
}

.purchaseDetailFormBox{
    grid-area: formDetail;
    background: #f3f0ffba;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.purchaseDetailBox,
.purchaseDetailFormBox{
    transition: all .5s;
    border: 1px solid transparent;
}

.formTextPurchase{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}