<ol class="leftPanelAdmin">
    <li class="mTop">Productos</li>
    <li><a href="/admin">Lista de Productos</a></li>
    <li><a href="/admin/agregar-producto">Agregar Producto</a></li>
    <li><a href="/admin/stock">Stock</a></li>
    <li><a href="/admin/ofertas">Ofertas</a></li>
    <li><a href="/admin/banners">Banners</a></li>
    
    <li class="mTop">Usuarios</li>
    <li><a href="/admin/usuarios">Lista de Usuarios</a></li>
</ol>