<ol class="leftPanelAdmin">
    <li class="mTop"><i class="fa fa-minus" aria-hidden="true"></i>Productos</li>
    <li><a href="/admin"><i class="fa fa-list" aria-hidden="true"></i>Lista de Productos</a></li>
    <li><a href="/admin/stock"><i class="fa fa-check-circle" aria-hidden="true"></i>Stock</a></li>
    <li><a href="/admin/ofertas"><i class="fa fa-tag" aria-hidden="true"></i>Ofertas</a></li>
    <li><a href="/admin/agregar-producto"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar Producto</a></li>
    <li><a href="/admin/banners"><i class="fa fa-picture-o" aria-hidden="true"></i>Banners</a></li>
    
    <li class="mTop"><i class="fa fa-minus" aria-hidden="true"></i>Usuarios</li>
    <li><a href="/admin/usuarios"><i class="fa fa-users" aria-hidden="true"></i>Lista de Usuarios</a></li>
</ol>