<section class="leftPanelAdmin">
    <p>Productos</p>
    <a href="/admin">Lista de Productos</a>
    <a href="/admin/agregar-producto">Agregar Producto</a>
    <a href="/admin/stock">Stock</a>
    <a href="/admin/ofertas">Ofertas</a>
    <a href="/admin/banners">Banners</a>
    <p>Usuarios</p>
    <a href="/admin/usuarios">Lista de Usuarios</a>
</section>