<!-- CAROUSEL -->
<section class="carousel-container">
    
    <% bannersData.forEach(banner => { %>
        <div class="slides fade">
            <img src="/images/banners/<%= banner.image_Route %> " alt="">
        </div>
    <% }) %>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <!-- The dots/circles -->
    <div class="dots">
        <% bannersData.forEach(banner => { %>
            <span class="dot" onclick="currentSlide(`<%= banner.id %>`)"></span>
        <% }) %>
    </div>
</section>
<!-- END CAROUSEL -->