<footer>
    <nav class="main-footer">
        <img class="footer_Logo" src="/images/logos/logo_1.png" alt="page_logo">
        <!-- <a href="/" class="footer_Logo">
            <img src="/images/logos/404.svg" alt="">
        </a> -->
        <section class="contactAndMore">
            <article>
                <a href="/terminos">● Terminos y Condiciones</a>
                <a href="/arrepentimiento-compra">● Arrepentimiento de Compra</a>
                <a href="/privacidad">● Politica de Privacidad</a>
            </article>
            <article>
                <a href="/contacto">● Contacto</a>
                <a href="/venta-mayorista">● Venta Mayorista</a>
                <a href="/local">● Local</a>
            </article>
            <article>
                <a href="https://www.argentina.gob.ar/servicio/iniciar-un-reclamo-ante-defensa-de-las-y-los-consumidores">● Defensa al Consumidor</a>
                <a href="/preguntas-frecuentes">● Preguntas Frecuentes</a>
                <a href="/404computers">● 404 Computers</a>
            </article>
        </section>
        <div id="socialIcons">
            <a href="https://www.facebook.com"><img src="/images/logos/facebook_logo.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="/images/logos/instagram_logo.svg" alt="Instagram"></a>
            <a href="https://www.gmail.com"><img src="/images/logos/mail_logo.svg" alt="e-Mail"></a>
            <a href="https://github.com/rodrigo070/Proyecto-Integrador-C8"><img src="/images/logos/whatsapp_logo.svg" alt="Whatsapp"></a>
        </div>
        <img class="afip_Logo" src="/images/logos/QR_AFIP.jpg" alt="AFIP">
    </nav>
</footer>