<footer>
    <nav class="main-footer">
        <img class="footer_Logo" src="/images/logos/panda_logo.png" alt="page_logo">
        <!-- <a href="/" class="footer_Logo">
            <img src="/images/logos/404.svg" alt="">
        </a> -->
        <section class="contactAndMore">
            <article>
                <a href="/terminos">● Terminos y Condiciones</a>
                <a href="#">● Arrepentimiento de Compra</a>
                <a href="#">● Politica de Privacidad</a>
            </article>
            <article>
                <a href="/contacto">● Contacto</a>
                <a href="#">● Venta Mayorista</a>
                <a href="/local">● Local</a>
            </article>
            <article>
                <a href="#">● Defensa al Consumidor</a>
                <a href="#">● Preguntas Frecuentes</a>
                <a href="/404computers">● 404 Computers</a>
            </article>
        </section>
        <div id="socialIcons">
            <a href=""><i class="fa fa-facebook-official fb_ico" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram inst_ico" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-envelope mail_ico" aria-hidden="true"></i></a>
            <a href="https://github.com/rodrigo070/Proyecto-Integrador-C8"><i class="fa fa-whatsapp whats_ico" aria-hidden="true"></i></a>
        </div>
        <img class="afip_Logo" src="/images/logos/QR_AFIP.jpg" alt="AFIP">
    </nav>
</footer>