<div class="paymentBannerTitle">
    <h3>Medios De Pago</h3>
</div>
<section class="sliderPaymentBanner">
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/amex.svg" alt="Amex"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/bimo.svg" alt="bimo"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/bna-mas.svg" alt="BNA"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/cabal.svg" alt="Cabal"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/cuenta-dni.svg" alt="Cuenta DNI"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/visa-credito.svg" alt="Visa Credito"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/visa-debito.svg" alt="Visa Debito"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/naranja.svg" alt="Naranja"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/nativa.svg" alt="Nativa"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/maestro.svg" alt="Maestro"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/mastercard.svg" alt="Mastercard"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/mercadopago.svg" alt="MercadoPago"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/modo.svg" alt="MODO"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/pagofacil.svg" alt="PagoFacil"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/todo-pago.svg" alt="Todo Pago"></div>
    <div class="slide payment_Logo_Banner"><img src="/images/payments_Logos/tarjetashopping.svg" alt="Tarjeta Shopping"></div>
</section>