<div class="sliderBoxBrands">
    <div id="button_Left_Slider">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="sliderBrands">
        <div><img src="/images/brands/amd_logo.png"></div>
        <div><img src="/images/brands/asus_logo.png"></div>
        <div><img src="/images/brands/corsair_logo.png"></div>
        <div><img src="/images/brands/gigabyte_logo.png"></div>
        <div><img src="/images/brands/hyperx_logo.png"></div>
        <div><img src="/images/brands/logitech_logo.png"></div>
        <div><img src="/images/brands/msi_logo.png"></div>
        <div><img src="/images/brands/nvidia_logo.png"></div>
        <div><img src="/images/brands/samsung_logo.png"></div>
    </div>
    <div id="button_Right_Slider">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>